/* gray colors */
$gray1Color: #9EA1A6; // lightest
$gray2Color: #8C9698; // light
$gray3Color: #141616;
$gray4Color: #0D0E0E; // dark

/* reaction colors */
$reactionYellowColor: #FFC841;
$reactionOrangeColor: #E25822;
$reactionRedColor: #F71B26;
$reactionGreenColor: #00BC75;
$reactionBlueColor: #0B76DB;

/* avatar colors */
$teamColor: #000; // black
$edgeColor: #0B76DB; // edge blue
$lifetimeColor: #07B3FF; // light blue
$coachColor: #FAA300; // yellow
$guitareoColor: #00C9AC;
$pianoteColor: #F61A30;
