$opensans: 'Open Sans', sans-serif;
$robotocondensed: 'Roboto Condensed', sans-serif;
$bebas:'Bebas Neue', sans-serif;

$pianoteRed: #F61A30;
$drumeoBlue: #0b76db;
$guitareoGreen: #00C9AC;
$recordeoYellow:#ffae00;
$singeoPurple:#8300E9;

$youtube: #cd201f;
$facebook: #3b5998;
$instagram: #e1306c;

$methodGreen:#00d6af;
$songsBlue:#17d1fa;
$coachesOrange:#fe9f13;

$promoColor: #ffac00;

@mixin sm {
  @media (min-width: 640px) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: 768px) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: 991px) {
    @content;
  }
}

@mixin xl {
  @media (min-width: 1280px) {
    @content;
  }
}
