@import "../_variables";
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

select {
  background-image: url(https://drumeo-assets.s3.amazonaws.com/drum-shop/dropdown.png);
  background-origin: content-box;
  background-position: right -1.5rem center;
  background-repeat: no-repeat;
  background-size: 9px 6px;
  appearance: none;
}

a {
  text-decoration: none !important;
}

.no-select {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

h1 {
  font-weight: 700;
  font-size: 25px;
  line-height: 1.1em;
  margin: 0 auto 5px;
  @include tablet {
    font-size: 28px;
  }
  @include desktopOld {
    font-size: 35px;
  }
}

h3 {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.3em;
  margin: 0 auto 35px;
  @include tablet {
    font-size: 18px;
    margin: 0 auto 40px;
  }
  @include desktopOld {
    font-size: 21px;
    margin: 0 auto 55px;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-family: $opensans;
}

body {
  background: #fff;
}

.shop-sidebar {
  .side-slide {
    &.fixedSlider {
      position: fixed;
      height: initial;
      top: 80px;
      top: 100px;
    }

    .pack-pick,
    .bundle-pick {
      background-color: #fff;
      outline: none;
      margin: 15px auto 0;
      border: 2px solid #717D80;
      border-radius: 200px;
      color: #717D80;
      font: 700 20px $robotocondensed;
      text-transform: uppercase;
      box-shadow: none;
      width: 100%;
      height: auto;
      padding: 7px 30px 7px 20px;
      @include tablet {
        padding: 10px 30px 10px 20px;
      }
      @include desktopOld {
        padding: 17px 30px 17px 20px;
      }

      &.error {
        background-color: #FFC7C7;
        border-color: #F71B26;
      }

      option {
        background: #FFF;
        color: #000;

        &[disabled] {
          color: #CCC;
        }
      }
    }

    .selected-pack,
    .selected-bundle {
      .join {
        background: #8C9698;
      }

      &.active .join {
        background: $pianoteRed;

        &:hover {
          opacity: 0.9;
        }
      }
    }
  }
}

.pack-details {
  .slider-container {
    .slider-for .slick-slide.slick-current {
      display: block !important;
    }

    .slider-nav {
      .slick-slide {
        padding: 7px 3px;
        outline: none;
        cursor: pointer;
        height: initial;
        position: relative;

        img {
          border-radius: 5px;
          border: 3px solid #FFF;
          max-width: none;
          width: 100%;
        }

        &.slick-current img {
          border-color: $pianoteRed;
        }

        &.video-slide:after {
          content: "\f03d";
          font: normal normal normal 14px/1 Font Awesome\ 5 Pro;
          font-weight: 900;
          font-size: inherit;
          text-rendering: auto;
          -webkit-font-smoothing: antialiased;
          -moz-osx-font-smoothing: grayscale;
          color: #FFF;
          text-shadow: 0 0 5px #000;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          -webkit-transform: translate(-50%, -50%);
          text-align: center;
          line-height: 30px;
          height: 30px;
          width: 30px;
        }
      }

      .slick-slide.slick-current {
        display: block !important;
      }
    }
  }



  table.specTable {
    width: 100%;

    td, th {
      text-align: center;
      padding: 7px;
      font-size: 13px;
      font-family: $opensans;
      @include tablet {
        font-size: 16px;
      }
    }

    tr:nth-child(even) {
      background: #eee;
    }
  }
}

.bonus-pic {
  .image-wrap {
    min-width: 140px;
    max-width:140px;

    @include desktopOld {
      min-width: 170px;
      max-width: 170px;
    }

    &.shipping:after {
      content: 'FREE SHIPPING';
      position: absolute;
      background: $pianoteRed;
      color: #fff;
      display: block;
      top: 0;
      left: 0;
      right: 0;
      text-align: center;
      font: 700 13px/1em $opensans;
      padding: 4px 0;
    }
  }
}
