<?php   // This php tag *must* be here.
        // (we're using php's `include` to pull the values from this file into the RemoteStorageServiceTest class)
        // Jonathan, Oct 2017

putenv("AWS_S3_REMOTE_STORAGE_ACCESS_KEY=valueFooGoesHere");
putenv("AWS_S3_REMOTE_STORAGE_ACCESS_SECRET=valueBarGoesHere");
putenv("AWS_S3_REMOTE_STORAGE_REGION=valueBazGoesHere");
putenv("AWS_S3_REMOTE_STORAGE_BUCKET=valueQuxFooGoesHere");