<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="./vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         colors="true"
>
    <testsuites>
        <testsuite name="Unit">
            <directory suffix="Test.php">./tests/Unit</directory>
            <directory suffix="Test.php">./app/Modules/Ecommerce/tests/Unit</directory>
            <directory suffix="Test.php">./app/Modules/UserManagementSystem/tests/Unit</directory>
        </testsuite>
        <testsuite name="Feature">
            <directory suffix="Test.php">./app/Modules/Brand/tests/Feature</directory>
            <directory suffix="Test.php">./app/Modules/Mentor/tests/Feature</directory>
            <directory suffix="Test.php">./app/Modules/Ecommerce/tests/Feature</directory>
            <directory suffix="Test.php">./app/Modules/UserManagementSystem/tests/Feature</directory>
        </testsuite>
    </testsuites>
    <coverage processUncoveredFiles="true">
        <include>
            <directory suffix=".php">./app</directory>
        </include>
    </coverage>
    <php>
        <server name="APP_ENV" value="testing"/>
        <server name="BCRYPT_ROUNDS" value="4"/>
        <server name="CACHE_DRIVER" value="array"/>
        <server name="DB_DEFAULT_CONNECTION_NAME" value="musora_laravel_mysql_sqlite_testing"/>
        <server name="DB_DEFAULT_CONNECTION" value="musora_laravel_mysql_sqlite_testing"/>
        <server name="USER_MANAGEMENT_SYSTEM_DATABASE_CONNECTION_NAME" value="musora_laravel_mysql_sqlite_testing"/>
        <server name="DB_MUSORA_LARAVEL_MYSQL_WRITE_HOST" value="musora_laravel_mysql_sqlite_testing"/>
        <server name="DB_MUSORA_LARAVEL_MYSQL_READ_HOST" value="musora_laravel_mysql_sqlite_testing"/>
        <server name="DB_MUSORA_LARAVEL_MYSQL_WRITER_ONLY" value="musora_laravel_mysql_sqlite_testing"/>
        <server name="DB_MYSQL_DRIVER" value="pdo_sqlite"/>
        <server name="DB_MYSQL_IN_MEMORY" value="true"/>
        <server name="MAIL_MAILER" value="array"/>
        <server name="QUEUE_CONNECTION" value="sync"/>
        <server name="SESSION_DRIVER" value="array"/>
        <server name="TELESCOPE_ENABLED" value="false"/>
        <server name="APP_URL" value="https://testing.musora.com"/>
    </php>
</phpunit>
