@import "../_variables";

h1 strong, h2 strong, h3 strong, h4 strong, h5 strong, h6 strong {
  font-weight: 900
}

h1, h2, h3, h4, h5, h6, li, p {
  font-weight: 400;
  line-height: 1em;
  font-family: "Open Sans", sans-serif;
  margin: 0 auto
}

h1 sup, h2 sup, h3 sup, h4 sup, h5 sup, h6 sup, li sup, p sup {
  font-size: 50%;
  top: -0.75em
}

h1 {
  line-height: 1.2em;
  font-size: 24px
}

@media (min-width: 40em) {
  h1 {
    font-size: 36px
  }
}

@media (min-width: 64em) {
  h1 {
    font-size: 48px
  }
}

h2 {
  line-height: 1.2em;
  font-size: 20px
}

@media (min-width: 40em) {
  h2 {
    font-size: 30px
  }
}

@media (min-width: 64em) {
  h2 {
    font-size: 36px
  }
}

h3 {
  font-size: 18px
}

@media (min-width: 40em) {
  h3 {
    font-size: 24px
  }
}

@media (min-width: 64em) {
  h3 {
    font-size: 30px
  }
}

h4 {
  font-size: 16px
}

@media (min-width: 40em) {
  h4 {
    font-size: 20px
  }
}

@media (min-width: 64em) {
  h4 {
    font-size: 24px
  }
}

h5 {
  font-size: 15px
}

@media (min-width: 40em) {
  h5 {
    font-size: 18px
  }
}

@media (min-width: 64em) {
  h5 {
    font-size: 20px
  }
}

h6 {
  font-size: 15px
}

@media (min-width: 40em) {
  h6 {
    font-size: 16px
  }
}

@media (min-width: 64em) {
  h6 {
    font-size: 18px
  }
}

p, li {
  line-height: 1.6em;
  font-size: 15px
}

@media (min-width: 64em) {
  p, li {
    font-size: 16px
  }
}

img {
  display: inline-block
}

.reveal-overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2147483002;
  display: none;
  overflow-y: auto;
  background-color: rgba(0, 0, 0, 0.8);

  &:after {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-family: "Font Awesome 5 Pro";
    font-weight: 900;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    content: "\f00d";
    color: #fff;
    z-index: 1;
    opacity: 0.8;
    position: absolute;
    margin: 0;
    line-height: 1em;
    text-align: center;
    display: inline-block;
    outline: none;
    top: 0;
    right: 0;
    font-size: 35px;
    width: 35px;
    @include tablet {
      top: 7px;
      right: 7px;
      font-size: 50px;
      width: 50px;
    }
  }

  .reveal {
    z-index: 1006;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    display: none;
    background-color: #fefefe;
    position: relative;
    top: 100px;
    margin-right: auto;
    margin-left: auto;
    overflow-y: auto;
    width: 95%;
    height: inherit;
    min-height: 0;
    outline: none;
    padding: 0;
    border: none;
    border-radius: 7px;
    @include tablet {
      right: auto;
      left: auto;
      margin: 0 auto;
    }
  }
}

[placeholder]:focus::-webkit-input-placeholder {
  color: transparent;
}

form ::-webkit-input-placeholder,
form ::-moz-placeholder,
form :-ms-input-placeholder,
form :-moz-placeholder {
  color: #777;
}

.infusion-form input,
.infusion-form button {
  font: 400 18px/45px $opensans;
  height: 45px;
  color: #999;
  border-radius: 100px;
  padding: 7px 20px;
  margin: 0 auto 10px;
  transition: all .2s ease-in;
  box-shadow: none;
  text-align: inherit;
  border: none;
  @include tablet {
    font-size: 19px;
    height: 55px;
    line-height: 55px;
    margin: 0 auto 15px;
  }
}

.infusion-form button {
  font-weight: 900;
  text-transform: uppercase;
  margin: 0 auto 15px;
  text-align: center;
  display: block;
  cursor: pointer;
  border: none;
  width: 100%;
  padding: 0;
  color: #fff;
  background: $singeoPurple;

  &:hover {
    background: lighten($singeoPurple, 10%);
  }
}


.thank-you-box.active {
  max-height: 1000px;
  visibility: visible;
  opacity: 1;
  padding: 15px;
  @include tablet {
    padding: 20px;
  }
}

.disclaimer {
  max-width: 470px;

  i {
    width: 40px;
    font-size: 21px;
    @include tablet {
      font-size: 29px;
    }
  }

  span {
    font: italic 400 12px/1.4em $opensans;
    width: calc(100% - 40px);
  }
}

.join.smaller {
  padding: 10px 30px 6px;
  font-size: 16px;
  @include tablet {
    font-size: 18px;
    padding: 12px 30px 10px;
  }
}

.play-button {
  cursor: pointer;
  outline: none;
  transition: opacity .3s;
  background: rgba(0, 0, 0, 0.6);
  border: 3px solid #fff;
  border-radius: 200px;
  line-height: 1em;
  font-size: 29px;
  padding: 18px 22px;
  @include tablet {
    font-size: 35px;
    padding: 22px 27px;
    border-width: 4px;
  }
  @include desktop {
    font-size: 39px;
    padding: 25px 30px;
  }

  &:hover {
    opacity: 0.8;
  }
  &.smaller {
    line-height: 1em;
    font-size: 29px;
    padding: 22px;
    @include desktop {
      font-size: 35px;
      padding: 26px 27px;
      border-width: 4px;
    }

  }
}

.hero-header {
  background-position: center top;
  background-size: 470px;
  background-image: url(https://cdn.musora.com/image/fetch/w_900,q_60,q_auto:best/https://singeo.s3.amazonaws.com/lead-gen/4-exercises/header-mobile.png);
  @include tablet {
    background-size: 1300px;
    background-image: url(https://cdn.musora.com/image/fetch/w_2900,q_60,q_auto:best/https://singeo.s3.amazonaws.com/lead-gen/4-exercises/header-desktop.png);
  }
  @include desktop {
    background-size: 1450px;
  }
}

.text-yellow {
  color: #f6d31a;
}
.text-pink {
  color: #e3b3cb;
}

.text-purple {
  color: #6100a6;
}

.text-purple-dark {
  color: #240045;
}

.text-navy {
  color: #a1afc9;
}

.bg-yellow {
  background-color: #f6d31a;
}

.bg-purple {
  background-color: #6100a6;
}

.bg-purple-dark {
  background-color: #240045;
}

.border-purple {
  border-color: #6100a6;
}

.border-purple-dark {
  border-color: #240045;
}

.button {
  user-select: none;
  border-radius: 900px;
  background: $singeoPurple;
  color: #fff;
  border: 2px solid $singeoPurple;
  font: 700 15px/1em $robotocondensed;
  transition-property: background-color, border-color, color, fill, stroke;
  transition-duration: 300ms;
  text-transform: uppercase;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 11px 0;

  &:hover {
    background: lighten($singeoPurple, 10%);
    border-color: lighten($singeoPurple, 10%);
    color: #fff;
  }

  &.complete,
  &.outline.complete {
    background: #00f677;
    color: #000718;
    border-color: #00f677;
  }

  &.outline {
    background: transparent;
    color: $singeoPurple;

    &:hover {
      background: lighten($singeoPurple, 10%);
      color: #fff;
    }

    &.inactive {
      color: #2e4153;
      border-color: #2e4153;

      &:hover {
        background: #2e4153;
        color: #000718;
      }
    }

    &.white {
      color: #fff;
      border-color: #fff;

      &:hover {
        background: #fff;
        border-color: #fff;
        color: #000718;
      }
    }
  }
}

.complete-button.active {
  background: #000 !important;
  color: #fff !important;
  border-color: #000;
}

.assignment-row.active {
  i.fa-angle-down {
    transform: rotate(180deg);
  }

  .dropdown {
    opacity: 1 !important;
    visibility: visible !important;
    max-height: 1500px !important;
  }
}

$d: 25;      // density
$w: 600;     // grid size
$s: 25s;       // speed

// Generate the snow image using radial gradients
$grad: ();
@for $i from 0 to $d {
  $v: random(4) + 2;
  $a: random(5) * .1 + .5;
  $grad: $grad, radial-gradient(
                  $v+px $v+px at
                  (random($w - $v * 2) + $v)+px
                  (random($w - $v * 2) + $v)+px,
                  rgba(255,255,255,$a) 50%,
                  rgba(0,0,0,0)
  ) !global;
}

.snow,
.snow:before,
.snow:after {
  position: absolute;
  top: -$w + px;
  left: 0;
  bottom: 0;
  right: 0;
  background-image: $grad;
  background-size: $w + px $w + px;
  animation: snow $s linear infinite;
  content: "";
}
.snow:after {
  margin-left: -$w/3 + px;
  opacity: .4;
  animation-duration: $s*2;
  animation-direction: reverse;
  filter: blur(3px);
}
.snow:before {
  animation-duration: $s*3;
  animation-direction: reverse;
  margin-left: -$w/2 + px;
  opacity: .65;
  filter: blur(1.5px);
}
@keyframes snow {
  to {
    transform: translateY($w + px);
  }
}
