@import "_variables";
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

.no-select {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

h1 {
  font-weight: 700;
  font-size: 25px;
  line-height: 1.1em;
  margin: 0 auto 5px;
  @include tablet {
    font-size: 28px;
  }
  @include desktop {
    font-size: 35px;
  }
}

h3 {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.3em;
  margin: 0 auto 35px;
  @include tablet {
    font-size: 18px;
    margin: 0 auto 40px;
  }
  @include desktop {
    font-size: 21px;
    margin: 0 auto 55px;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-family: $opensans;
}

body {
  background: #FFF;
}

.side-bar {
  .side-slide {
    &.fixedSlider {
      position: fixed;
      height: initial;
      //top: 80px;
      top: 100px;
    }


    .online-atc.merch {
      .join {
        background: #777;
      }

      &.active .join {
        background: $guitareoGreen;

        &:hover {
          background: lighten($guitareoGreen, 10%);
        }
      }
    }

    .join {
      transition: all .3s;
      font-size: 20px;
      width: 100%;
      padding: 10px 10px;
      margin: 7px auto;
      @include tablet {
        padding: 13px 10px;
        margin: 15px auto;
      }
      @include desktop {
        padding: 20px 10px;
      }

      i {
        font-size: 23px;
        margin-right: 5px;
      }

      &.bundle-option {
        margin: 5px auto 15px;
      }
    }

    .pack-pick {
      &.error {
        background-color: #FFC7C7;
        border-color: #F71B26;
      }

      option {
        &[disabled] {
          color: #CCC;
        }
      }
    }

    .selected-pack {
      .join {
        background: #8C9698;
      }

      &.active .join {
        background: $guitareoGreen;

        &:hover {
          opacity: 0.9;
        }
      }
    }
  }
}

.pack-details {
    .bonus-pic {
        .image-wrap {
            min-width: 140px;
            max-width: 140px;
            @include desktop {
                min-width: 170px;
                max-width: 170px;
            }
        }
    }

  .shop-accordion {
    .accordion-content {
      &.bundle {
        &.shipping:after {
          content: 'FREE SHIPPING';
          position: absolute;
          background: $guitareoGreen;
          color: #fff;
          display: block;
          top: 0;
          left: 0;
          right: 0;
          text-align: center;
          font: 700 13px/1em $opensans;
          padding: 4px 0;
        }
      }
    }
  }

  .slider-container {
    .slider-for .slick-slide.slick-current {
      display: block !important;
    }

    .slider-nav {
      .slick-slide {
        padding: 7px 3px;
        outline: none;
        cursor: pointer;
        height: initial;
        position: relative;

        img {
          border-radius: 5px;
          border: 3px solid #FFF;
          max-width: none;
          width: 100%;
        }

        &.slick-current img {
          border-color: $guitareoGreen;
        }

        &.video-slide:after {
          content: "\f03d";
          font: normal normal normal 14px/1 Font Awesome\ 5 Pro;
          font-weight: 900;
          font-size: inherit;
          text-rendering: auto;
          -webkit-font-smoothing: antialiased;
          -moz-osx-font-smoothing: grayscale;
          color: #FFF;
          text-shadow: 0 0 5px #000;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          -webkit-transform: translate(-50%, -50%);
          text-align: center;
          line-height: 30px;
          height: 30px;
          width: 30px;
        }
      }

      .slick-slide.slick-current {
        display: block !important;
      }
    }
  }
}
