/*layout*/
.clearfix::after {
    content:"";
    display:table;
    clear:both;
}

/*spacing*/
.aspect-16\:9 {
    padding-bottom:56.25%;
}
.aspect-1\:1 {
    padding-bottom:100%;
}

/*backgrounds*/

.bg-pred,
.bg-pianote {
    background-color:#F61A30;
}

.bg-navy-600 {
    background:#204261;
}

.bg-navy-700 {
    background:#04203C;
}

.bg-navy-800 {
    background:#001429;
}

.bg-navy-900 {
    background:#000C18;
}

/*transforms*/
.-rotate-20 {
    --transform-rotate:-20deg;
}

.rotate-20 {
    --transform-rotate:20deg;
}

/*borders*/
.border-pred,
.border-pianote {
    border-color:#F61A30;
}

.border-navy-700 {
    border-color:#04203C;
}

.border-navy-600 {
    border-color:#204261;
}

/*typography*/
.font-roboto {
    font-family:"Roboto Condensed", sans-serif;
}

.font-bebas {
    font-family:"Bebas Neue", sans-serif;
}

.text-pred,
.text-pianote {
    color:#F61A30;
}

.text-navy-600 {
    color:#204261;
}

.text-shadow-1 {
    text-shadow:0 0 4px rgba(0, 0, 0, 0.7);
}

.text-shadow-2 {
    text-shadow:0 0 8px rgba(0, 0, 0, 0.7);
}

.text-shadow-3 {
    text-shadow:0 0 12px rgba(0, 0, 0, 0.7);
}

.text-shadow-4 {
    text-shadow:0 0 16px rgba(0, 0, 0, 0.7);
}

img {
    display: inline-block;
    max-width: 100%;
    height: auto;
}