@import "./_variables";

a {
  text-decoration: none;
}

[placeholder]:focus::-webkit-input-placeholder {
  color: transparent;
}

form ::-webkit-input-placeholder {
  color: #777;
}

form ::-moz-placeholder {
  color: #777;
}

form :-ms-input-placeholder {
  color: #777;
}

form :-moz-placeholder {
  color: #777;
}

h1, h2, h3, h4, h5, h6, p, li {
  font-family: $opensans;
}

.infusion-form input,
.infusion-form button {
  font: 400 18px/45px $opensans;
  height: 45px;
  color: #999;
  border-radius: 100px;
  padding: 7px 20px;
  margin: 0 auto 10px;
  transition: all .2s ease-in;
  box-shadow: none;
  text-align: inherit;
  border: none;
  @include tablet {
    font-size: 19px;
    height: 55px;
    line-height: 55px;
    margin: 0 auto 15px;
  }
  @include desktop {
    font-size: 23px;
  }
}

.infusion-form button {
  font-family: $robotocondensed;
  font-weight: 700;
  color: #FFF;
  background: $guitareoGreen;
  text-transform: uppercase;
  margin: 0 auto 15px;
  text-align: center;
  display: block;
  cursor: pointer;
  border: none;
  width: 100%;
  padding: 0;

  &:hover {
    background: lighten($guitareoGreen, 10%);
  }

  &.outline {
    background: transparent;
    border: 2px solid #FFF;
    line-height: 41px;
    @include tablet {
      line-height: 51px;
    }

    &:hover {
      background: #FFF;
      color: $guitareoGreen;
    }

  }
}

.thank-you-box {
  width: 100%;
  max-width: 960px;
  border-radius: 5px;
  height: auto;
  max-height: 0;
  visibility: hidden;
  opacity: 0;
  transition: all .4s ease-in;
  display: block;
  margin: 0 auto;
  background: #FFF;
  text-align: center;
  overflow: hidden;
  color: #000;

  &.active {
    max-height: 1000px;
    visibility: visible;
    opacity: 1;
    padding: 15px;
    @include tablet {
      padding: 20px;
    }
    @include desktop {
      padding: 30px;
    }
  }

  p {
    font: 400 15px/1.4em $opensans;
    margin: 0 auto;
    @include tablet {

      font-size: 19px;
    }
    @include desktop {

      font-size: 23px;
    }

    em {
      line-height: 1.4em;
      max-width: 550px;
      display: inline-block;
      font-size: 12px;
      @include tablet {

        font-size: 14px;
      }
    }
  }

  h2 {
    font: 700 30px/1em $robotocondensed;
    margin: 15px auto;
    text-transform: uppercase;
    color: $guitareoGreen;
    @include tablet {
      font-size: 37px;
      margin: 20px auto;
    }
    @include desktop {
      font-size: 44px;
    }
  }

  .social-media a {
    background: #000;
    color: #fff;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    margin: 20px 3px 0;
    width: 50px;
    height: 50px;
    line-height: 50px;
    font-size: 26px;
    @include desktop {
      width: 70px;
      height: 70px;
      line-height: 70px;
      font-size: 35px;
      margin: 25px 10px 0;
    }
  }
}

.disclaimer {
  display: inline-block;
  margin: 0 auto;
  opacity: 0.9;
  max-width: 500px;

  i {
    width: 40px;
    font-size: 21px;
    line-height: 1em;
    float: left;
    @include tablet {
      font-size: 29px;
    }
  }

  span {
    font: italic 400 12px/1.4em $opensans;
    margin: 0 auto;
    width: calc(100% - 40px);
    float: left;
    text-align: left;
  }
}

.reveal-overlay {
  background-color: rgba(0, 0, 0, 0.8);


  &:after {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-family: "Font Awesome 5 Pro";
    font-weight: 900;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    content: "\f00d";
    color: #fff;
    z-index: 1;
    opacity: 0.8;
    position: absolute;
    margin: 0;
    line-height: 1em;
    text-align: center;
    display: inline-block;
    outline: none;
    top: 0;
    right: 0;
    font-size: 35px;
    width: 35px;
    @include tablet {
      top: 7px;
      right: 7px;
      font-size: 50px;
      width: 50px;
    }
  }

  .reveal {
    border: none;
    border-radius: 5px;
    outline: none;
    min-height: inherit;
    height: inherit;

    h2 {
      font: 700 30px/1em $robotocondensed;
      margin: 0 auto;
      text-transform: uppercase;
      color: $guitareoGreen;
      letter-spacing: 2px;
      @include tablet {
        font-size: 50px;
        letter-spacing: 6px;
      }
      @include desktop {
        font-size: 75px;
        letter-spacing: 8px;
      }
    }

    p {
      font: 400 15px/1.4em $opensans;
      margin: 13px auto 25px;
      @include tablet {
        font-size: 18px;
      }
      @include desktop {
        font-size: 23px;
        margin: 18px auto 30px;
      }

      em {
        line-height: 1.4em;
        max-width: 500px;
        display: inline-block;
        font-size: 12px;
        @include tablet {
          font-size: 14px;
        }
      }
    }

    input,
    button {
      font: 400 18px/50px $opensans;
      height: 50px;
      color: #999;
      border-radius: 100px;
      text-align: center;
      padding: 7px 20px;
      margin: 0 auto 10px;
      @include tablet {
        font-size: 22px;
        height: 65px;
        line-height: 65px;
        margin: 0 auto 15px;
      }
      @include desktop {
        font-size: 26px;
        height: 75px;
        line-height: 75px;
      }
    }

    button {
      font-family: $robotocondensed;
      font-weight: 700;
      color: #FFF;
      background: $guitareoGreen;
      text-transform: uppercase;
      margin: 0 auto 15px;
      display: block;
      cursor: pointer;
      border: none;
      width: 100%;
      padding: 0;

      &:hover {
        background: lighten($guitareoGreen, 10%);
      }

      &.outline {
        background: transparent;
        border: 2px solid #FFF;
        line-height: 46px;
        @include tablet {
          line-height: 51px;
        }
        @include desktop {
          line-height: 66px;
        }

        &:hover {
          background: #FFF;
          color: $guitareoGreen;
        }

      }
    }


    .disclaimer {
      display: inline-block;
      margin: 0 auto;
      opacity: 0.9;
      max-width: 500px;

      i {
        width: 40px;
        font-size: 29px;
        line-height: 1em;
        float: left;
      }

      p {
        font: 400 12px/1.4em $opensans;
        margin: 0 auto;
        width: calc(100% - 40px);
        float: left;
        text-align: left;
      }
    }

    &#getAccess {
      max-width: 550px;
      background: #06B298 url(https://guitareo.s3.amazonaws.com/music-theory/bg-tile-2.png) center/400px;
      color: #FFF;
      @include desktop {
        background-size: 450px;
        max-width: 640px;
      }

    }

    &.acoustic#getAccess {
      background: #fff;
      color: #000;

      input[type="email"] {
        background: #eee;
      }

      .infusion-form button {
        background: $jumpStartOrange;

        &:hover {
          background: lighten($jumpStartOrange, 10%);
        }
      }
    }

    &.blue#getAccess {
      .infusion-form button {
        background: #408beb;

        &:hover {
          background: lighten(#408beb, 10%);
        }
      }
    }
  }
}

.header {
  text-align: center;
  color: #FFF;
  background: #06B298 url(https://guitareo.s3.amazonaws.com/music-theory/bg-tile-2.png) center/400px;
  padding: 30px 0;
  @include tablet {
    padding: 50px 0;
  }
  @include desktop {
    padding: 60px 0;
    background-size: 450px;
  }

  h1 {
    font: 400 30px/1.1em $robotocondensed;
    margin: 10px auto 0;
    @include tablet {
      font-size: 45px;
      margin: 27px auto 0;
    }
    @include desktop {
      font-size: 73px;
      margin: 20px auto 0;
    }

    strong {
      font-size: 48px;
      @include tablet {
        font-size: 72px;
      }
      @include desktop {
        font-size: 117px;
      }
    }
  }

  h2 {
    font: 400 13px/1.2em $opensans;
    margin: 15px auto 10px;
    @include tablet {
      font-size: 15px;
      margin: 15px auto;
    }
    @include desktop {
      font-size: 22px;
      margin: 20px auto;
    }

  }

  .logo {
    width: 100%;
    max-width: 270px;
    margin: 20px auto 10px;

    @include tablet {
      max-width: 490px;
      margin: 15px auto 30px;
    }
    @include desktop {
      max-width: 720px;
      margin: 10px auto 40px;
    }
  }

  .circle-nate {
    border-radius: 50%;
    overflow: hidden;
    border: 5px solid #FFF;
    background: #FFF;
    width: 100%;
    max-width: 140px;
    @include tablet {
      max-width: 160px;
    }
    @include desktop {
      max-width: 220px;
    }
  }

  &.acoustic {
    background: #161819;

    .row {
      @include tablet {
        max-width: 680px;
      }
      @include desktop {
        max-width: 860px;
      }
    }

    .infusion-form button {
      background: $jumpStartOrange;

      &:hover {
        background: lighten($jumpStartOrange, 10%);
      }
    }

    .logo {
      max-width: 270px;
      margin: 0 auto 20px;

      @include tablet {
        max-width: 580px;
        margin: 0 auto 30px;
      }
      @include desktop {
        max-width: 830px;
        margin: 0 auto 40px;
      }
    }

    .circle-nate {
      max-width: 180px;
      @include tablet {
        max-width: 250px;
      }
      @include desktop {
        max-width: 300px;
      }
    }
  }

  &.blue {
    .row {
      @include tablet {
        max-width: 730px;
      }
      @include desktop {
        max-width: 980px;
      }
    }

    .infusion-form button {
      background: #408beb;

      &:hover {
        background: lighten(#408beb, 10%);
      }
    }

    .circle-nate {
      max-width: 180px;
      @include tablet {
        max-width: 250px;
      }
      @include desktop {
        max-width: 300px;
      }
    }
  }
}

.content-inside {
  padding: 40px 10px;
  @include tablet {
    padding: 70px 10px;
  }
  @include desktop {
    padding: 100px 10px;
  }

  .lesson-thumbnail .thumb .badge.orange {
    background: $jumpStartOrange;
  }


  h1 {
    font: 700 23px/1.2em $opensans;
    margin: 0 auto 15px;
    @include tablet {
      font-size: 30px;
      margin: 0 auto 20px;
    }
    @include desktop {
      font-size: 37px;
      margin: 0 auto 25px;
    }
  }
}

.lesson-thumbnail {
  margin-bottom: 15px;
  max-width: 410px;
  @include tablet {
    max-width: 100%;
  }

  &.with-details {
    .thumb .lock-overlay,
    .thumb .play-overlay {
      height: 100%;
      background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 35%, rgba(0, 0, 0, 0.65) 100%);
      background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 35%, rgba(0, 0, 0, 0.65) 100%);
      background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 35%, rgba(0, 0, 0, 0.65) 100%);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#a6000000', GradientType=0);
    }
  }

  a:hover {
    cursor: pointer;
  }

  .thumb {
    border-radius: 5px;
    overflow: hidden;
    position: relative;
    font-size: 0;
    z-index: 1;

    img {
      max-width: 100%;
      height: auto;
      margin: 0 auto;
      z-index: 1;
    }

    .lock-overlay,
    .play-overlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 2;

      i {
        font-size: 48px;
        color: #FFF;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%);
        text-shadow: 0 0 20px #000;

      }
    }

    .play-overlay i {
      transition: opacity .1s ease-in-out;
      opacity: 0;
    }

    &:hover .play-overlay i {
      opacity: 1;
    }

    .series-details {
      position: absolute;
      bottom: 20px;
      left: 15px;
      width: 100%;
      font: 500 14px/1em $opensans;
      color: $guitareoGreen;
      text-transform: uppercase;
      z-index: 2;
    }

    .badge {
      position: absolute;
      left: 0;
      top: 0;
      border-radius: 5px 0 5px 0;
      padding: 5px 8px;
      font: 700 13px $robotocondensed;
      text-transform: uppercase;
      background: $guitareoGreen;
      color: #FFF;
      z-index: 2;
    }
  }

  h4 {
    font: 700 14px/1em $opensans;
    margin: 10px auto 0;
    @include tablet {
      height: auto;
      font-size: 18px;
    }

    em {
      font: italic 400 11px $opensans;
      color: #999;
      text-transform: uppercase;
    }
  }
}

.final {
  background: #031614 url("https://guitareo.s3.amazonaws.com/music-theory/final-bg.jpg") center/cover;
  text-align: center;
  padding: 50px 10px;
  color: #FFF;
  @include tablet {
    padding: 80px 20px;
  }
  @include desktop {
    padding: 100px 20px;
  }

  &.acoustic {
    background-image: url("https://s3.amazonaws.com/guitareo/acoustic-jump-start/final-bg.jpg");

    .logo {
      max-width: 270px;

      @include tablet {
        max-width: 580px;
      }
      @include desktop {
        max-width: 830px;
      }
    }

    .infusion-form button {
      background: $jumpStartOrange;

      &:hover {
        background: lighten($jumpStartOrange, 10%);
      }
    }
  }

  &.blue {

    .logo {
      max-width: 300px;

      @include tablet {
        max-width: 500px;
      }
      @include desktop {
        max-width: 630px;
      }
    }

    .infusion-form button {
      background: #408beb;

      &:hover {
        background: lighten(#408beb, 10%);
      }
    }
  }

  .logo {
    width: 100%;
    max-width: 290px;
    margin: 0 auto 20px;

    @include tablet {
      max-width: 530px;
      margin: 0 auto 30px;
    }
    @include desktop {
      max-width: 720px;
      margin: 0 auto 40px;
    }
  }

  h1 {
    font: 400 30px/1.1em $robotocondensed;
    margin: 0 auto 20px;
    @include tablet {
      font-size: 60px;
      margin: 0 auto 30px;
    }
    @include desktop {
      font-size: 73px;
      margin: 0 auto 50px;
    }

    strong {
      font-size: 48px;
      @include tablet {
        font-size: 96px;
      }
      @include desktop {
        font-size: 117px;
      }
    }
  }

  p {
    font: 400 14px/1em $opensans;
    margin: 0 auto 20px;
    @include tablet {
      font-size: 21px;
      margin: 0 auto 25px;
    }
    @include desktop {
      font-size: 20px;
      margin: 0 auto 30px;
    }

    &.yellow {
      text-transform: uppercase;
      color: #FFDB01;
      font-style: normal;
      margin: 15px auto 0;
      @include tablet {
        margin: 20px auto 5px;
      }

      strong {
        display: inline-block;
      }
    }
  }

  form {
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
    @include desktop {
      max-width: 920px;

    }
  }

  .join {
    width: 100%;
    max-width: 1200px;
    font-size: 25px;
    @include tablet {
      font-size: 31px;
    }
  }
}

.lesson-catalogue {
  background: white;
  padding: 30px 0 50px;
  @include tablet {
    padding: 50px 0 100px;
  }

  .row {
    padding: 0 10px;
    @include tablet {
      padding: 0 20px;
    }
    @include desktop {
      padding: 0 40px;
    }

  }

  .list-wrapper {
    .lesson-row {
      border-bottom: 1px solid #DBDCDC;
      padding: 10px 0;
      color: #000;
      height: 50px;
      font: 700 12px/30px $opensans;
      @include tablet {
        line-height: 60px;
        font-size: 15px;
        height: 80px;
      }

      &:last-child {
        border-bottom: none;
      }

      &:hover {
        .duration,
        .status-icon {
          color: #000;
        }
      }

      .lesson-number {
        font-size: 17px;
        width: 40px;
        @include tablet {
          font-size: 22px;
          width: 60px;
        }
        @include desktop {
          width: 75px;
        }
      }

      .lesson-thumb {
        font-size: 0;
        width: 110px;

        img {
          border-radius: 5px;
          max-height: 60px;
        }
      }

      .lesson-name {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        width: 50%;
        width: calc(100% - 110px);
        @include tablet {
          width: calc(100% - 360px);
        }
        @include desktop {
          width: calc(100% - 420px);
        }
      }

      .duration {
        font-style: italic;
        font-weight: 400;
        color: #CCD3D3;
        width: 70px;
        font-size: 11px;
        @include tablet {
          width: 110px;
          font-size: 12px;
        }
        @include desktop {
          width: 135px;
        }
      }

      .status-icon {
        width: 80px;
        color: #CCD3D3;
        font-size: 38px;
        @include desktop {
          width: 100px;
        }

      }
    }
  }
}

.video-interaction {
  background: #191B1C;
  padding: 20px 5px;
  @include tablet {
    padding: 30px 10px;
  }
  @include desktop {
    padding: 30px 40px;
  }


  &.solo-in-an-hour {
    .title-header-interaction h2 a,
    .title-header-interaction h2 strong {
      color: #ffde16;
    }

    .user-interaction .lesson-navigator a {
      border-color: #ffde16;
      color: #ffde16;
    }
  }

  &.song-in-an-hour {
    .title-header-interaction h2 a,
    .title-header-interaction h2 strong {
      color: #ffb100;
    }

    .user-interaction .lesson-navigator a {
      border-color: #ffb100;
      color: #ffb100;
    }
  }

  .title-header-interaction {
    color: #FFF;

    h1 {
      font: 700 21px/1.2em $opensans;
      margin: 0 auto 5px;
      @include tablet {
        font-size: 28px;
        margin: 0 auto 10px;
      }
      @include desktop {
        font-size: 38px;
      }
    }

    h2 {
      font: 400 16px/1.2em $opensans;
      margin: 0 auto;
      text-transform: uppercase;
      @include tablet {
        font-size: 18px;
      }
      @include desktop {
        font-size: 20px;
      }

      a,
      strong {
        color: $guitareoGreen;
      }
    }

    .title-buttons {
      text-align: right;
      padding-left: 0;
      font-size: 0;

      .event-toggle {
        margin: 0 0 3px;
        text-align: center;
        font-size: 0;
        line-height: 0;
        float: none;
        vertical-align: text-bottom;
        max-width: 45px;
        @include tablet {
          width: 47%;
          max-width: 45px;
          margin: 0 0 0 3px;
        }
      }

      .download-button {
        border: 2px solid $guitareoGreen;
        border-radius: 100px;
        color: $guitareoGreen;
        background: transparent;
        cursor: pointer;
        -webkit-user-select: none;
        -moz-user-select: none;
        font: 700 18px/1em $opensans;
        margin: 0 0 3px;
        width: 100%;
        display: inline-block;
        padding: 11px 0;
        transition: background .2s linear;
        position: relative;
        @include tablet {
          margin: 0 0 0 3px;
        }

        a {
          color: inherit;
        }

        i {
          transition: all .2s linear;
        }

        &:hover {
          background: #4B4F52;
        }

        &.active {
          color: #FFF;
          background: $guitareoGreen;
        }
      }
    }
  }

  .flex-video {
    margin: 15px auto;
    @include desktop {
      margin: 25px auto;
    }
  }

  .user-interaction {
    text-align: center;

    .lesson-navigator {
      margin: 0;
      text-align: center;
      white-space: nowrap;
      overflow: hidden;
      vertical-align: text-bottom;

      &.next-lesson a {
        margin: 0 0 0 auto;
      }

      a {
        border: 2px solid $guitareoGreen;
        border-radius: 200px;
        color: $guitareoGreen;
        background: transparent;
        cursor: pointer;
        -webkit-user-select: none;
        -moz-user-select: none;
        display: block;
        margin: 0;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        padding: 11px 0;
        user-select: none;
        font: 700 15px/1em $robotocondensed;
        text-transform: uppercase;

        &:hover {
          background: #4B4F52;
        }
      }
    }
  }

}

.resource-sidebar {

  &.acoustic a.download-button.big {
    background: $jumpStartOrange;
    border-color: $jumpStartOrange;

    &:hover {
      background: lighten($jumpStartOrange, 10%);
      border-color: lighten($jumpStartOrange, 10%);
    }

    &.outline {
      background: transparent;
      border-color: $jumpStartOrange;
      color: $jumpStartOrange;

      &:hover {
        border-color: $jumpStartOrange;
        background-color: $jumpStartOrange;
        color: #fff;
      }
    }

  }

  &.guitar-tricks a.download-button.big {
    background: linear-gradient(180deg, #ffd500, #ffb600);
    border-color: #ffd500;

    &:hover {
      background: linear-gradient(180deg, lighten(#ffd500, 10%), lighten(#ffb600, 10%));
      border-color: #ffd500;
    }

  }


  img {
    margin: 0 auto 30px;
  }

  .lesson-thumbnail {
    .thumb {
      .badge {
        background: $jumpStartOrange;
      }

      img {
        margin-bottom: 0;
      }
    }

    h4 {
      text-align: left;
    }
  }

  h1 {
    font: 700 17px/1em $opensans;
    margin: 0 auto 5px;
    @include desktop {
      font-size: 25px;
      margin: 0 auto 15px;
    }
  }

  p {
    font: 400 12px/1.3em $opensans;
    margin: 0 auto 15px;
    @include tablet {
      font-size: 13px;
    }
  }

  a.download-button {
    background-color: #247BA0;
    padding: 10px 15px;
    display: inline-block;
    width: 100%;
    text-align: center;
    color: #FFF;
    font: 700 13px $opensans;
    margin: 10px auto 0;
    border-radius: 100px;
    @include tablet {
      font-size: 16px;
    }

    &:hover {
      background-color: lighten(#247BA0, 10%);
      text-decoration: none;
    }

    &:after,
    &:hover:after {
      content: " \f019";
      display: inline-block;
      font: normal normal normal 14px/1 'Font Awesome\ 5 Pro';
      font-size: inherit;
      text-rendering: auto;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      font-weight: 900;
      margin-left: 5px;
      position: unset;
      text-shadow: none;
      transform: none;
    }

    &.big {
      position: relative;
      text-transform: uppercase;
      background: $guitareoGreen;
      border: 2px solid $guitareoGreen;
      padding: 16px 15px;
      font: 700 16px $robotocondensed;
      margin: 0 auto 15px;
      @include tablet {
        font-size: 17px;
        padding: 20px 10px;
        margin: 0 auto 20px;
      }
      @include desktop {
        font-size: 23px;
        padding: 20px 15px;
      }

      em {
        position: absolute;
        bottom: 5px;
        left: 0;
        right: 0;
        font-weight: 400;
        font-size: 12px;
        @include tablet {
          font-size: 13px;
          bottom: 8px;
        }
      }

      &:hover {
        background-color: lighten($guitareoGreen, 10%);
        border-color: lighten($guitareoGreen, 10%);
      }

      &:after {
        content: "";
        margin-left: 0;
      }

      &.outline {
        background: transparent;
        color: $guitareoGreen;

        &:hover {
          background-color: lighten($guitareoGreen, 10%);
          color: #FFF;
        }

      }
    }
  }

  .lesson-text {
    width: 100%;
    max-width: 650px;
    padding: 0 10px;
    margin: 0 auto;
    @include tablet {
      padding: 0 15px;
    }

    ol, ul {
      margin-top: 15px;
      margin-bottom: 25px;
    }

    p, li {
      font-size: 13px;
      line-height: 1.7em;
      margin: 0 auto;
      @include tablet {
        font-size: 14px;
      }
      @include desktop {
        font-size: 15px;
      }
    }

    li {
      margin: 0 auto 5px;
    }
  }
}

.assignment-row.active {
  i.fa-angle-down {
    transform: rotate(180deg);
  }

  .dropdown {
    opacity: 1 !important;
    visibility: visible !important;
    max-height: 1500px !important;
  }
}

.grecaptcha-badge {
  visibility: hidden;
}
