@tailwind base;
@tailwind components;
@tailwind utilities;

/* Tailwind CSS */
.bg-promo {
    background-color: #FFAC00;
}

.text-promo {
    color: #FFAC00;
}

.border-promo {
    border-color: #FFAC00;
}

/*backgrounds*/
.bg-drumeo {
    background-color: #0B76DB;
}

.bg-guitareo {
    background-color: #00C9AC;
}

.bg-pianote {
    background-color: #F61A30;
}

.bg-singeo {
    background-color: #8300E9;
}

.bg-musora-black {
    background-color: #000C17;
}

/*borders*/
.border-drumeo {
    border-color: #0B76DB;
}

.border-guitareo {
    border-color: #00C9AC;
}

.border-pianote {
    border-color: #F61A30;
}

.border-singeo {
    border-color: #8300E9;
}

.border-sky-900 {
    border-color: #0c4a6e;
}

.border-musora-black {
    border-color: #000C17;
}

.font-roboto {
    font-family: "Roboto Condensed", sans-serif;
}

.font-bebas {
    font-family: "Bebas Neue", sans-serif;
}

.rotate-y-0 {
    transform: rotateY(0deg);
}

.-rotate-y-180 {
    transform: rotateY(-180deg);
}

.rotate-y-180 {
    transform: rotateY(180deg);
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.text-sky-900 {
    color: #0c4a6e;
}

.text-shadow-1 {
    text-shadow: 0 0 4px rgba(0, 0, 0, 0.7);
}

.text-shadow-2 {
    text-shadow: 0 0 8px rgba(0, 0, 0, 0.7);
}

.text-shadow-3 {
    text-shadow: 0 0 12px rgba(0, 0, 0, 0.7);
}

.text-shadow-4 {
    text-shadow: 0 0 16px rgba(0, 0, 0, 0.7);
}

/*spacing*/
.aspect-1\:1 {
    padding-bottom: 100%;
}

.aspect-16\:9 {
    padding-bottom: 56.25%;
}

h1 strong, h2 strong, h3 strong, h4 strong, h5 strong, h6 strong {
    font-weight: 900;
}

h1 sup, h2 sup, h3 sup, h4 sup, h5 sup, h6 sup, li sup, p sup {
    font-size: 50%;
    top: -.75em
}

h1 {
    font-size: 30px;

    @media (min-width: 768px) {
        font-size: 36px;
    }

    @media (min-width: 1024px) {
        font-size: 48px;
    }
}

h2 {
    font-size: 24px;

    @media (min-width: 768px) {
        font-size: 30px;
    }

    @media (min-width: 1024px) {
        font-size: 36px;
    }
}

h3 {
    font-size: 20px;
    @media (min-width: 768px) {
        font-size: 24px;
    }

    @media (min-width: 1024px) {
        font-size: 30px;
    }
}

h4 {
    font-size: 18px;
    @media (min-width: 768px) {
        font-size: 20px;
    }

    @media (min-width: 1024px) {
        font-size: 24px;
    }
}

h5 {
    font-size: 16px;

    @media (min-width: 768px) {
        font-size: 18px;
    }

    @media (min-width: 1024px) {
        font-size: 20px;
    }
}

h6 {
    font-size: 15px;

    @media (min-width: 768px) {
        font-size: 16px;
    }

    @media (min-width: 1024px) {
        font-size: 18px;
    }
}

li, p {
    line-height: 1.6em;
    font-size: 15px;

    @media (min-width: 768px) {
        font-size: 16px;
    }
}

.join {
    border-radius: 50px;
    font: 600 20px/1em Open Sans, sans-serif;
    padding: 17px 7%;
    color: white;
    position: relative;
    text-transform: uppercase;
    display: inline-block;
    @media (min-width: 768px) {
        font-size: 28px;
    }

    .smaller {
        font-size: 13px;
        padding: 7px 25px;
        @media (min-width: 768px) {
            font-size: 14px;
            padding: 13px 30px
        }
    }
}
