@import "../_variables";

.no-padding {
  padding: 0;
}
.half-padding {
  padding: 0 8px;
}
.no-select {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
h1 {
  font-family: 'Open Sans', sans-serif;
  line-height: 1.3em;
  margin: 0 auto;
}
h2 {
  font-family: 'Open Sans', sans-serif;
  line-height: 1.3em;
  margin: 0 auto;
}
h3 {
  font-family: 'Open Sans', sans-serif;
  line-height: 1.3em;
  margin: 0 auto;
}
p {
  font-family: 'Open Sans', sans-serif;
  line-height: 1.3em;
  margin: 0 auto;
}
.black {
  background: #1C1C1C;
  color: #FFF;
}
.grey {
  background: #E6E6E6;
}
.white {
  background: #FFF;
}
.hero-header {
  background: #000;
  color: #FFF;
  text-align: center;
  padding: 30px 0;
  .logo {
    img {
      max-width: 300px;
    }
  }
  .video {
    max-width: 1000px;
    margin: 0 auto;
    display: inline-block;
    float: none;
    .flex-video {
      position: relative;
      margin: 20px 0;
    }
  }
  .join {
    width: 100%;
    margin-bottom: 10px;
  }
  p {
    line-height: 1.7em;
    font-size: 15px;
  }
  p.yellow {
    text-transform: uppercase;
    color: #FFCF00;
    line-height: 1.2em;
  }
}
.hidden-buy-slice {
  padding: 8px 0;
  text-align: center;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 99;
  position: fixed;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  animation-duration: 0.5s !important;
  background: rgba(17, 17, 17, 0.8);
  top: 40px;
  .join {
    font-size: 18px;
    padding: 8px 12%;
    width: auto;
  }
}
#triple-benefit {
  text-align: center;
  padding: 30px 0;
  h1 {
    font-weight: 700;
    strong {
      text-decoration: underline;
    }
  }
  h1.upper {
    margin: 0 auto 20px;
  }
  h2 {
    font-weight: 400;
    font-size: 21px;
    strong {
      text-decoration: underline;
    }
  }
  .benefit-wrap {
    padding: 0 15px;
  }
  .benefit {
    background: #FFF;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    margin: 0 auto 15px;
    .image {
      position: relative;
      .overlay {
        background: rgba(0, 0, 0, 0.7);
        color: #FFF;
        font-family: $bebas;
        line-height: 1.2em;
        position: absolute;
        text-transform: uppercase;
        left: 0;
        right: 0;
        bottom: 0;
        font-size: 20px;
        padding: 20px 0;
      }
    }
    .text {
      padding: 20px 20px 40px;
      text-align: left;
      p {
        line-height: 1.6em;
        font-size: 14px;
      }
    }
  }
}
.warning-section {
  background: #840A16;
  color: #FFF;
  text-align: center;
  position: relative;
  overflow: hidden;
  padding: 30px 0;
  .bg-icon {
    position: absolute;
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
    opacity: 0.3;
    filter: brightness(0%);
    z-index: 1;
    top: 15%;
    height: 100px;
  }
  .bg-icon.sign {
    left: -30px;
  }
  .bg-icon.cal {
    right: -50px;
  }
  h1 {
    position: relative;
    z-index: 2;
    font-family: $bebas;
    text-transform: uppercase;
    margin: 0 auto;
    font-size: 40px;
  }
  .sticks-x {
    position: relative;
    z-index: 2;
    opacity: 0.3;
    filter: brightness(0%);
    margin: 17px auto;
    img {
      width: 80px;
    }
  }
  p {
    position: relative;
    z-index: 2;
    font: 400 16px/1.7em "Open Sans", sans-serif;
    display: inline-block;
    max-width: inherit;
    padding: 0 10px;
    margin: 0 auto;
    strong {
      font-weight: 800;
      color: #FFDB01;
    }
  }
}
.personal-letter {
  padding: 30px 0;
  .row {
    width: 100%;
    max-width: 1000px;
  }
  h1 {
    font-weight: 700;
    line-height: 1.2em;
    text-align: center;
  }
  h1.upper {
    margin: 0 auto 30px;
  }
  h2 {
    font-family: $bebas;
    text-transform: uppercase;
    font-size: 19px;
    margin: 0 auto 10px;
  }
  p {
    line-height: 1.5em;
    margin: 0 auto 15px;
    font-size: 15px;
  }
  .jared-portrait {
    img {
      border-radius: 7px;
    }
  }
  .path-point {
    background: #E6E6E6;
    padding: 15px;
    margin: 0 auto 15px;
    .icon {
      padding-left: 0;
    }
    p {
      margin: 0 auto;
    }
    img {
      width: 70px;
    }
    .text {
      padding: 0;
    }
    h2 {
      margin: 0 auto;
    }
  }
  .sig-point {
    margin: 5px auto 0;
    .icon {
      img {
        width: 20px;
      }
      display: inline-block;
      background: #1BB25F;
      line-height: 0;
      text-align: center;
      border-radius: 20px;
      padding: 5px;
      margin: 0 5px 0 0;
      width: 30px;
      height: 30px;
    }
    p {
      display: inline-block;
      font-size: 12px;
    }
  }
  .number-paths {
    margin: 20px auto 10px;
  }
  .signature {
    margin: 15px auto 5px;
    img {
      width: 200px;
    }
  }
}
#icon-grid {
  >.row {
    >h1 {
      font-family: $bebas;
      text-transform: uppercase;
      color: #1BB25F;
      text-align: center;
      font-size: 30px;
      line-height: 1.2em;
    }
    >p {
      line-height: 1.6em;
      clear: both;
      text-align: center;
      font-size: 16px;
      max-width: inherit;
      margin: 0 auto 15px;
      padding: 0 15px;
    }
  }
  .icon-wrap {
    padding: 15px 30px;
    .text {
      padding: 5px 0 0;
    }
    .icon {
      border: 2px solid #1BB25F;
      border-radius: 50px;
      text-align: center;
      margin: 0 auto;
      float: none;
      width: 50px;
      line-height: 46px;
      font-size: 23px;
      padding: 0;
    }
    h1 {
      font-weight: 700;
      margin: 0 auto 2px;
      font-size: 20px;
    }
    h2 {
      line-height: 1.6em;
      font-size: 14px;
    }
  }
}
.compare-table {
  background: #FFF;
  text-align: center;
  padding: 40px 10px;
  h1 {
    margin: 0 auto 30px;
    font-weight: 700;
    line-height: 1.2em;
  }
  table {
    border-collapse: separate;
    border-spacing: 10px 0;
    margin: 0 auto 45px;
    padding: 0;
    tbody {
      border: none;
      color: #99A19E;
      background: #FFF;
      tr {
        td {
          width: 33.33%;
          border: 1px solid #DFE6E3;
          border-width: 0 1px;
          padding: 7px;
          font: 600 11px/1.2em $bebas;
          text-transform: uppercase;
          i {
            font-size: 24px;
          }
          &:nth-child(2) {
            border-color: #00BB74;
            color: #00BB74;
            i {
              font-size: 34px;
            }
          }
        }
        &:nth-child(even) {
          background-color: #F2F5F4;
          &:hover {
            background-color: #E8EBEA;
          }
          td {
            &:nth-child(2) {
              background-color: #EFFCF5;
              &:hover {
                td {
                  &:nth-child(2) {
                    background-color: #DFEBE4;
                  }
                }
              }
            }
          }
        }
        &:nth-child(odd) {
          &:hover {
            background-color: #F7FAF9;
          }
        }
        &:nth-child(1) {
          td {
            border-width: 1px 1px 0;
            border-radius: 4px 4px 0 0;
            padding: 10px 0 15px;
            .macbook {
              width: 70%;
              image-rendering: -webkit-optimize-contrast;
              margin: 0 auto 5px;
            }
            .blue-logo {
              width: 80%;
              image-rendering: -webkit-optimize-contrast;
            }
            i {
              margin: 0 0 5px;
              font-size: 50px;
            }
            &:nth-child(1) {
              border-width: 0;
              background: #FFF;
            }
          }
        }
        &:nth-child(2) {
          td {
            &:nth-child(1) {
              border-width: 1px 1px 0;
              border-radius: 4px 4px 0 0;
            }
          }
        }
        &:last-child {
          td {
            border-width: 0 1px 1px;
            border-radius: 0 0 4px 4px;
          }
        }
      }
    }
  }
  p {
    text-align: left;
    font: 400 16px/1.4em "Open Sans", sans-serif;
    margin: 0 auto;
    padding: 0 10px;
  }
}
.guarantee {
  background: #EFF0F0;
  text-align: center;
  padding: 30px 7px;
  h1 {
    line-height: 1em;
    font-family: $bebas;
    text-transform: uppercase;
    color: #00BC75;
    font-size: 27px;
    margin: 0 auto 15px;
    i {
      display: block;
      vertical-align: middle;
      font-size: 50px;
      margin: 0 auto 10px;
    }
  }
  p {
    line-height: 1.7em;
    padding: 0 15px;
    margin: 0 auto;
    clear: both;
    font-size: 14px;
    max-width: inherit;
    strong {
      font-weight: 700;
    }
  }
}
#faster {
  image-rendering: -webkit-optimize-contrast;
  background: #000 url(https://dzryyo1we6bm3.cloudfront.net/fastest-way-to-get-faster/bg.jpg) center center/cover;
  color: #FFF;
  max-width: 800px;
  padding: 45px 0;
  text-align: center;
  outline: none;
  border-radius: 5px;
  .series-logo {
    width: 100%;
    max-width: 270px;
  }
  .series-logo.slim {
    max-width: 330px;
  }
  h2 {
    font: 400 17px/1.3em "Open Sans", sans-serif;
    margin: 0 auto 20px;
  }
  p {
    font: 400 16px/1.5em "Open Sans", sans-serif;
    text-align: center;
    margin: 15px auto;
  }
  form {
    position: relative;
    width: 100%;
    max-width: 320px;
    margin: 0 auto;
    .form-arrow {
      position: absolute;
      top: 65%;
      width: 25px;
    }
    .form-arrow.arrow-right {
      left: -30px;
      transform: translate(0, -50%);
    }
    .form-arrow.arrow-left {
      right: -30px;
      transform: translate(0, -50%);
    }
    input {
      font: 400 18px/50px "Open Sans", sans-serif;
      height: 50px;
      color: #999;
      border-radius: 5px;
      text-align: left;
      padding: 7px 20px;
      margin: 0 auto 10px;
    }
    input[type="submit"] {
      font-family: $bebas;
      color: #FFF;
      background: #0b76db;
      text-transform: uppercase;
      margin: 0 auto 15px;
      display: block;
      cursor: pointer;
      border: none;
      width: 100%;
      text-align: center;
      padding: 0;
      &:hover {
        background: #0F84F2;
      }
    }
  }
  .disclaimer {
    display: inline-block;
    margin: 0 auto;
    opacity: 0.9;
    max-width: 500px;
    i {
      width: 40px;
      font-size: 29px;
      line-height: 1em;
      float: left;
    }
    p {
      font: 400 12px/1.4em "Open Sans", sans-serif;
      margin: 0 auto;
      width: calc(100% - 40px);
      float: left;
      text-align: left;
    }
  }
}
.yellow-banner {
  background: #FDCE02;
  padding: 20px 10px;
  .row {
    padding: 0 10px;
    p {
      font: 400 14px/1.5em "Open Sans", sans-serif;
      margin: 0 auto;
      width: 90%;
      a {
        color: #000;
        text-decoration: underline;
      }
    }
  }
}
.yellow-tab {
  background: #FDCE02;
  text-align: center;
  position: relative;
  padding: 10px;
  &:after {
    content: "";
    position: absolute;
    height: 0;
    width: 0;
    margin: -2px -50px 0 0;
    top: 100%;
    right: 50%;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-top: 15px solid #FDCE02;
  }
  p {
    font: 700 15px/1em "Open Sans", sans-serif;
    margin: 0 auto;
    text-transform: uppercase;
  }
}
@media (min-width:40em) {
  .warning-section {
    padding: 50px 15px 60px;
    .bg-icon {
      top: 25%;
      height: 200px;
    }
    .bg-icon.sign {
      left: -20px;
    }
    .bg-icon.cal {
      right: -70px;
    }
    h1 {
      font-size: 50px;
    }
    .sticks-x {
      margin: 25px auto;
      img {
        width: 100px;
        width: 90px;
      }
    }
    p {
      font-size: 17px;
      max-width: 650px;
    }
  }
  .compare-table {
    padding: 70px 10px;
    h1 {
      margin: 0 auto 40px;
    }
    table {
      padding: 0 15px;
      tbody {
        tr {
          td {
            font-size: 15px;
          }
          &:nth-child(1) {
            td {
              font-size: 24px;
              padding: 20px 10px 30px;
              .macbook {
                width: 175px;
                margin: 0 auto 15px;
              }
              .blue-logo {
                width: 200px;
              }
              i {
                font-size: 100px;
                margin: 0 0 10px;
              }
            }
          }
        }
      }
    }
    p {
      padding: 0 25px;
      font-size: 18px;
    }
  }
  .guarantee {
    padding: 60px 15px;
    h1 {
      font-size: 50px;
      margin: 0 auto 20px;
      i {
        font-size: 25px;
        margin: 0 auto;
        display: inline;
      }
    }
    p {
      font-size: 17px;
      max-width: 700px;
    }
  }
  #faster {
    .series-logo {
      max-width: 420px;
    }
    .series-logo.slim {
      max-width: 500px;
    }
    h2 {
      font-size: 20px;
      margin: 0 auto 35px;
    }
    form {
      margin: 0 auto 10px;
      max-width: 510px;
      .form-arrow {
        top: 40%;
      }
      .form-arrow.arrow-right {
        left: -25px;
      }
      .form-arrow.arrow-left {
        right: -25px;
      }
      input {
        font-size: 22px;
        height: 65px;
        line-height: 65px;
        margin: 0 auto 15px;
      }
    }
  }
  .yellow-banner {
    padding: 30px 15px;
    .row {
      padding: 0 15px;
      p {
        font-size: 16px;
      }
    }
  }
  .yellow-tab {
    padding: 15px;
    p {
      font-size: 18px;
    }
  }
}
@media (min-width:64em) {
  .warning-section {
    padding: 70px 15px 80px;
    .bg-icon {
      top: 45%;
      height: 400px;
    }
    .bg-icon.sign {
      left: -110px;
    }
    .bg-icon.cal {
      right: -230px;
    }
    h1 {
      font-size: 60px;
    }
    .sticks-x {
      margin: 30px auto;
    }
    p {
      font-size: 19px;
      max-width: 910px;
    }
  }
  .compare-table {
    padding: 90px 10px;
    h1 {
      margin: 0 auto 50px;
    }
    table {
      padding: 0 45px;
      tbody {
        tr {
          td {
            font-size: 18px;
            i {
              font-size: 35px;
            }
            &:nth-child(2) {
              i {
                font-size: 50px;
              }
            }
          }
          &:nth-child(1) {
            td {
              font-size: 30px;
              padding: 20px 10px 40px;
              .macbook {
                width: 250px;
                margin: 10px auto 30px;
              }
              .blue-logo {
                width: 290px;
              }
              i {
                font-size: 145px;
                margin: 0 0 30px;
              }
            }
          }
        }
      }
    }
    p {
      padding: 0 55px;
    }
  }
  .guarantee {
    padding: 90px 20px;
    h1 {
      font-size: 70px;
      i {
        font-size: 40px;
      }
    }
    p {
      font-size: 20px;
      max-width: 970px;
    }
  }
  #faster {
    .series-logo {
      max-width: 500px;
    }
    .series-logo.slim {
      max-width: 700px;
    }
    p {
      font-size: 19px;
    }
    form {
      max-width: 530px;
      .form-arrow.arrow-right {
        left: -30px;
      }
      .form-arrow.arrow-left {
        right: -30px;
      }
    }
  }
  .yellow-banner {
    padding: 45px 20px;
    .row {
      p {
        font-size: 18px;
      }
    }
  }
  .yellow-tab {
    &:after {
      border-top-width: 20px;
    }
    p {
      font-size: 21px;
    }
  }
}
@media screen {
  h1.upper {
    font-size: 22px;
  }
  #icon-grid {
    padding: 30px 0;
    text-align: center;
  }
  #social-proof {
    >.row {
      >h1.upper {
        margin: 0 auto 30px;
      }
      >h1.upper.students {
        margin: 0 auto 15px;
      }
    }
    .instructor-wrap.horizontal {
      .white {
        .image {
          height: 170px;
          position: inherit;
        }
      }
    }
    .instructor-wrap.vertical.middle {
      .white {
        .image {
          height: 180px;
        }
      }
    }
    .instructor-wrap {
      .white {
        .text {
          padding: 15px;
          position: relative;
        }
      }
    }
    .student-reviews {
      margin-bottom: 30px;
    }
  }
  .final {
    .logo {
      img {
        max-width: 300px;
      }
    }
    h1 {
      .small {
        font-size: 16px;
      }
    }
    .cards {
      margin: 20px auto 0;
    }
    p.final-questions {
      margin: 60px auto 0;
      opacity: 0.7;
    }
  }
}
@media screen and (min-width:40em) {
  .join {
    font-size: 35px;
    padding: 20px 15px;
    width: auto;
  }
  h1.upper {
    font-size: 27px;
  }
  .hero-header {
    padding: 60px 0;
    .logo {
      img {
        max-width: 550px;
      }
    }
    .video {
      .flex-video {
        margin: 30px 0;
      }
    }
    .join {
      margin-bottom: 15px;
    }
    p {
      font-size: 19px;
    }
  }
  .hidden-buy-slice {
    top: 50px;
    .join {
      font-size: 21px;
      padding: 10px 35px;
    }
  }
  #triple-benefit {
    padding: 70px 0;
    h1.upper {
      margin: 0 auto 30px;
    }
    h2 {
      font-size: 24px;
    }
    .benefit {
      .image {
        .overlay {
          font-size: 19px;
          padding: 15px 0;
        }
      }
      .text {
        p {
          font-size: 15px;
        }
      }
    }
  }
  .personal-letter {
    padding: 70px 0;
    h1.upper {
      margin: 0 auto 40px;
    }
    h2 {
      font-size: 24px;
      margin: 0 auto 15px;
    }
    p {
      font-size: 17px;
      margin: 0 auto;
    }
    .number-paths {
      margin: 30px auto 20px;
    }
    .path-point {
      img {
        width: 140px;
      }
      .text {
        padding: 0 15px;
      }
      h2 {
        margin: 0 auto 5px;
      }
    }
    .signature {
      margin: 30px auto 10px;
      img {
        width: 250px;
      }
    }
    .sig-point {
      margin: 8px auto 0;
      .icon {
        width: 40px;
        height: 40px;
        img {
          width: 30px;
        }
      }
      p {
        font-size: 12px;
      }
    }
  }
  #icon-grid {
    text-align: left;
    padding: 60px 0;
    >.row {
      >h1 {
        font-size: 50px;
      }
      >p {
        font-size: 18px;
        max-width: 650px;
        margin: 0 auto 25px;
        padding: 0;
      }
    }
    .icon-wrap {
      padding: 15px;
      .icon {
        float: left;
      }
      .text {
        padding: 0 0 0 15px;
        float: left;
        width: calc(100% - 50px);
      }
      h1 {
        font-size: 16px;
      }
      h2 {
        font-size: 13px;
      }
    }
  }
  #social-proof {
    padding: 70px 0;
    >.row {
      >h1.upper {
        margin: 0 auto 40px;
      }
    }
    .shopper-rating {
      font-size: 50px;
      margin: 0 auto 40px;
    }
    .instructor-wrap.horizontal {
      text-align: left;
      .white {
        .image {
          position: absolute;
          height: auto;
        }
      }
    }
    .instructor-wrap.vertical {
      .white {
        .image {
          height: 190px;
        }
        .text {
          padding: 15px;
        }
      }
    }
    .instructor-wrap.vertical.middle {
      .white {
        .image {
          height: 170px;
        }
      }
    }
    .instructor-wrap {
      .white {
        .image {
          background-position: center top;
        }
        .text {
          padding: 15px 20px;
          h1 {
            font-size: 18px;
          }
          h2 {
            font-size: 14px;
            margin: 5px auto 10px;
          }
          p {
            font-size: 15px;
          }
          .sa-rating {
            top: 15px;
            right: 20px;
            position: absolute;
            font-size: 30px;
          }
        }
      }
    }
    .student-reviews {
      margin-bottom: 40px;
    }
  }
  .final {
    padding: 80px 0;
    .logo {
      img {
        max-width: 480px;
      }
    }
    h1 {
      font-size: 20px;
      margin: 70px auto 20px;
      .small {
        font-size: 17px;
      }
    }
    h3 {
      font-size: 16px;
      margin: -15px auto 20px;
    }
    h3.yellow {
      margin: 25px auto 0;
    }
    .cards {
      margin: 25px auto 0;
      i {
        font-size: 45px;
      }
    }
    p.final-questions {
      margin: 70px auto 0;
    }
    p {
      font-size: 15px;
      span {
        font-size: 16px;
      }
    }
  }
}
@media screen and (min-width:64em) {
  .join {
    font-size: 40px;
    padding: 25px 35px;
  }
  h1.upper {
    font-size: 37px;
  }
  .hero-header {
    padding: 70px 0;
    .logo {
      img {
        max-width: 600px;
      }
    }
  }
  .hidden-buy-slice {
    .join {
      font-size: 22px;
      padding: 12px 12%;
    }
  }
  #triple-benefit {
    padding: 90px 0;
    h1.upper {
      margin: 0 auto;
    }
    h2 {
      font-size: 28px;
      margin: 0 auto 40px;
    }
    .benefit {
      .image {
        .overlay {
          font-size: 25px;
          padding: 25px 0;
        }
      }
      .text {
        p {
          font-size: 16px;
        }
      }
    }
  }
  .personal-letter {
    padding: 90px 0;
    h1.upper {
      margin: 0 auto 50px;
    }
    h2 {
      margin: 0 auto 25px;
    }
    p {
      font-size: 19px;
    }
    .number-paths {
      margin: 40px auto 30px;
    }
    .path-point {
      h2 {
        margin: 20px auto 5px;
      }
    }
  }
  #icon-grid {
    padding: 90px 0;
    >.row {
      >h1 {
        font-size: 70px;
      }
      >p {
        font-size: 20px;
        max-width: 900px;
        margin: 10px auto 30px;
      }
    }
    .icon-wrap {
      padding: 25px 15px;
      .text {
        width: calc(100% - 60px);
      }
      h1 {
        font-size: 20px;
      }
      h2 {
        font-size: 14px;
      }
      .icon {
        width: 60px;
        line-height: 56px;
        font-size: 27px;
      }
    }
  }
  #social-proof {
    padding: 90px 0;
    >.row {
      >h1.upper {
        margin: 0 auto 50px;
      }
    }
    .shopper-rating {
      font-size: 64px;
      margin: 0 auto 50px;
    }
    .instructor-wrap.vertical {
      .white {
        .image {
          height: 258px;
        }
        .text {
          padding: 30px 20px;
        }
      }
    }
    .instructor-wrap.vertical.middle {
      .white {
        .image {
          height: 161px;
        }
      }
    }
    .instructor-wrap {
      .white {
        .text {
          padding: 30px;
          h1 {
            font-size: 20px;
          }
          h2 {
            font-size: 15px;
            margin: 5px auto 20px;
          }
          p {
            font-size: 16px;
          }
          .sa-rating {
            top: 30px;
            right: 30px;
            font-size: 36px;
          }
        }
      }
    }
    .student-reviews {
      margin-bottom: 55px;
    }
  }
  .final {
    padding: 100px 0;
    .logo {
      img {
        max-width: 530px;
      }
    }
    h1 {
      font-size: 30px;
      margin: 60px auto 25px;
    }
    h3 {
      font-size: 22px;
      margin: -20px auto 25px;
    }
    p.final-questions {
      margin: 80px auto 0;
    }
  }
}
@media screen and (min-width:75em) {
  #social-proof {
    .instructor-wrap.vertical {
      .white {
        .image {
          height: 226px;
        }
      }
    }
    .instructor-wrap.vertical.middle {
      .white {
        .image {
          height: 219px;
        }
      }
    }
  }
}
