// Font Declarations

//Roboto Condensed Bold
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&display=swap');

//Bison Bold
@font-face {
    font-family: 'Bison Bold';
    src: url('https://d38h3dn806jqj1.cloudfront.net/fonts/Bison-Bold.ttf');
    font-weight: bold;
}

// Font Variables
$bison-bold: 'Bison Bold',Arial Narrow,Arial,sans-serif;


// Helper Classes
.font-bison-bold {
    font-family: $bison-bold;
}

.font-roboto-condensed-bold {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 700;
}
