@import "../_variables";

.bg-darkblue {
  background-color: #010611;
}

.color-darkblue {
  color: #000717
}

.border-goldenrod {
  border-color: #FFB500;
}

.bg-goldenrod {
  background-color: #FFB500;
}

.bg-goldenrod-gradient {
  background-color: #FFB500;
}

.bg-goldenrod-gradient:hover {
  background-color: #FFD702;
}

.bg-gq-purple {
  background-color: #6100a6;
}

.text-blue {
  color: #426384;
}

.text-gq-purple {
  color: #6100a6;
}

.soft-flex {
  display: block;
}

.soft-block {
  display: block;
}

.text-goldenrod {
  color: #FFB500;
}

.font-primary {
  font: 400 16px/1.4em "Open Sans", sans-serif;
}

.text-shadow {
  text-shadow: 2px 2px 1px rgba(0, 0, 0, .9);
}

.max-h-1400 {
  max-height: 1400px;
}

.top-50vh {
  top: calc(50vh - 150px);
}

.border-3 {
  border-width: 3px;
}

.scrolling-touch {
  -webkit-overflow-scrolling: touch;
}

[x-cloak] {
  display: none !important;
}

.text-goldenrod-hover:hover, .text-goldenrod-hover.active {
  color: #FFB500 !important;
}

.text-goldenrod-hover.active:after {
  content: '';
  width: 100%;
  border: 1px solid inherit;
  position: absolute;
  bottom: -8px;
  left: 0;
  height: 2px;
  background-color: #ffb500;
  top: 130%;
}

.menu-overlay.active + nav {
  z-index: initial !important;
}

/* Page Layout */
main + footer.sales-footer .site-map {
  background: #000612;
}

main + footer.sales-footer .site-map a,
main + footer.sales-footer .site-map h1 {
  color: #3C4D5F;
}

.custom-list-style:before {
  content: '';
  position: absolute;
  width: 5px;
  height: 5px;
  background-color: #FFB500;
  left: 0;
  top: 15px;
}

.map-badge {
  width: 71px;
  height: 71px;
  border-radius: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
}

.completed-badge {
  background-image: url("https://www.musora.com/musora-cdn/image/width=150,quality=95/https://d122ay5chh2hr5.cloudfront.net/guitarquest/assets/icon-checkmark.svg") !important;
}

.gradient {
  background-image: linear-gradient(
                  to bottom,
                  hsla(222, 100%, 3.92%, 0) 0%,
                  hsla(222, 100%, 3.92%, 0.013) 8.1%,
                  hsla(222, 100%, 3.92%, 0.049) 15.5%,
                  hsla(222, 100%, 3.92%, 0.104) 22.5%,
                  hsla(222, 100%, 3.92%, 0.175) 29%,
                  hsla(222, 100%, 3.92%, 0.259) 35.3%,
                  hsla(222, 100%, 3.92%, 0.352) 41.2%,
                  hsla(222, 100%, 3.92%, 0.45) 47.1%,
                  hsla(222, 100%, 3.92%, 0.55) 52.9%,
                  hsla(222, 100%, 3.92%, 0.648) 58.8%,
                  hsla(222, 100%, 3.92%, 0.741) 64.7%,
                  hsla(222, 100%, 3.92%, 0.825) 71%,
                  hsla(222, 100%, 3.92%, 0.896) 77.5%,
                  hsla(222, 100%, 3.92%, 0.951) 84.5%,
                  hsla(222, 100%, 3.92%, 0.987) 91.9%,
                  hsl(222, 100%, 3.92%) 100%
  );
}

.sticky-section {
  max-height: 2800px;
  height: 200vh;
  min-height: 600px;
}

.sticky-b,
.sticky-a {
  left: 0;
  max-height: 1400px;
  height: 100vh;
  background-attachment: fixed;
  position: absolute;
  width: 100vw;
  max-width: 100%;
}

.sticky-a {
  top: 0;
}

.sticky-b {
  z-index: 5;
  top: 50%;
  bottom: 0;
}

.header-image {
  background-image: url(https://www.musora.com/musora-cdn/image/width=768,quality=95/https://d122ay5chh2hr5.cloudfront.net/guitarquest/assets/mobile-header.jpg);
  height: calc(100vh - 127px);
  min-height: 528px;
}

.sticky-1 .sticky-a {
  background-image: url(https://www.musora.com/musora-cdn/image/width=768,quality=95/https://d122ay5chh2hr5.cloudfront.net/guitarquest/assets/mobile-section-1-background-a.jpg);
}

.sticky-1 .sticky-b {
  background-image: url(https://www.musora.com/musora-cdn/image/width=768,quality=95/https://d122ay5chh2hr5.cloudfront.net/guitarquest/assets/mobile-section-1-background-b.jpg);
}

.sticky-2 .sticky-a {
  background-image: url(https://www.musora.com/musora-cdn/image/width=768,quality=95/https://d122ay5chh2hr5.cloudfront.net/guitarquest/assets/mobile-section-2-background-a.jpg);
}

.sticky-2 .sticky-b {
  background-image: url(https://www.musora.com/musora-cdn/image/width=768,quality=95/https://d122ay5chh2hr5.cloudfront.net/guitarquest/assets/mobile-section-2-background-b.jpg);
}

.sticky-3 .sticky-a {
  background-image: url(https://www.musora.com/musora-cdn/image/width=768,quality=95/https://d122ay5chh2hr5.cloudfront.net/guitarquest/assets/mobile-section-3-background-a.jpg);
}

.sticky-3 .sticky-b {
  background-image: url(https://www.musora.com/musora-cdn/image/width=768,quality=95/https://d122ay5chh2hr5.cloudfront.net/guitarquest/assets/mobile-section-3-background-b.jpg);
}

@media (hover: none) and (max-width: 640px) {
  .sticky-a,
  .sticky-b {
    background-attachment: scroll;
  }
}

@media (min-width: 641px) {
  .header-image {
    background-image: url(https://www.musora.com/musora-cdn/image/width=2000,quality=95/https://d122ay5chh2hr5.cloudfront.net/guitarquest/assets/tablet-header.jpg);
  }
  .sticky-1 .sticky-a {
    background-image: url(https://www.musora.com/musora-cdn/image/width=1280,quality=95/https://d122ay5chh2hr5.cloudfront.net/guitarquest/assets/tablet-section-1-background-a.jpg);
  }
  .sticky-1 .sticky-b {
    background-image: url(https://www.musora.com/musora-cdn/image/width=1280,quality=95/https://d122ay5chh2hr5.cloudfront.net/guitarquest/assets/tablet-section-1-background-b.jpg);
  }
  .sticky-2 .sticky-a {
    background-image: url(https://www.musora.com/musora-cdn/image/width=1280,quality=95/https://d122ay5chh2hr5.cloudfront.net/guitarquest/assets/tablet-section-2-background-a.jpg);
  }
  .sticky-2 .sticky-b {
    background-image: url(https://www.musora.com/musora-cdn/image/width=1280,quality=95/https://d122ay5chh2hr5.cloudfront.net/guitarquest/assets/tablet-section-2-background-b.jpg);
  }
  .sticky-3 .sticky-a {
    background-image: url(https://www.musora.com/musora-cdn/image/width=1280,quality=95/https://d122ay5chh2hr5.cloudfront.net/guitarquest/assets/tablet-section-3-background-a.jpg);
  }
  .sticky-3 .sticky-b {
    background-image: url(https://www.musora.com/musora-cdn/image/width=1280,quality=95/https://d122ay5chh2hr5.cloudfront.net/guitarquest/assets/tablet-section-3-background-b.jpg);
  }
}

@media(min-width: 768px) {

}

@media(min-width: 1024px) {
  .soft-flex {
    display: flex;
  }
  .header-image {
    background-image: url(https://www.musora.com/musora-cdn/image/width=2000,quality=95/https://d122ay5chh2hr5.cloudfront.net/guitarquest/assets/header-background.png);
    height: auto;
  }
  .sticky-1 .sticky-a {
    background-image: url(https://www.musora.com/musora-cdn/image/width=2000,quality=95/https://d122ay5chh2hr5.cloudfront.net/guitarquest/assets/section-1-background-a.jpg);
  }
  .sticky-1 .sticky-b {
    background-image: url(https://www.musora.com/musora-cdn/image/width=2000,quality=95/https://d122ay5chh2hr5.cloudfront.net/guitarquest/assets/section-1-background-b.jpg);
  }
  .sticky-2 .sticky-a {
    background-image: url(https://www.musora.com/musora-cdn/image/width=2000,quality=95/https://d122ay5chh2hr5.cloudfront.net/guitarquest/assets/section-2-background-a.jpg);
  }
  .sticky-2 .sticky-b {
    background-image: url(https://www.musora.com/musora-cdn/image/width=2000,quality=95/https://d122ay5chh2hr5.cloudfront.net/guitarquest/assets/section-2-background-b.jpg);
  }
  .sticky-3 .sticky-a {
    background-image: url(https://www.musora.com/musora-cdn/image/width=2000,quality=95/https://d122ay5chh2hr5.cloudfront.net/guitarquest/assets/section-3-background-a.jpg);
  }
  .sticky-3 .sticky-b {
    background-image: url(https://www.musora.com/musora-cdn/image/width=2000,quality=95/https://d122ay5chh2hr5.cloudfront.net/guitarquest/assets/section-3-background-b.jpg);
  }
}

.scrollbar-none::-webkit-scrollbar {
  display: none; /* Chrome */
}

.scrollbar-none {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.bonus-wrap {
  position: relative;
  display: inline-block;
  vertical-align: top;
  margin: 0 auto 30px;
  @media(min-width: 768px) {
    margin: 0 auto;
  }

  .flip-div {
    display: inline-block;
    position: relative;
    background-color: transparent;
    perspective: 1000px;
    width: 100%;
    height: 246px;
    @media(min-width: 768px) {
      height: 212px;
    }
    @media(min-width: 1024px) {
      height: 228px;
    }

    &:hover .flip-inner .front .hover-icon {
      visibility: visible;
      opacity: 1;
    }

    &.flipped .flip-inner {
      .front {
        .hover-icon {
          visibility: hidden;
          opacity: 0;
        }

        -ms-transform: rotateY(180deg);
        -webkit-transform: rotateY(180deg);
        transform: rotateY(180deg);
      }

      .back {
        -ms-transform: rotateY(0deg);
        -webkit-transform: rotateY(0deg);
        transform: rotateY(0deg);
      }
    }

    .flip-inner {
      position: relative;
      width: 100%;
      height: 100%;
      text-align: center;
      transform-style: preserve-3d;
      cursor: pointer;

      .front {
        z-index: 8;

        .hover-icon {
          visibility: hidden;
          opacity: 0;
          position: absolute;
          transition: opacity .3s;
          text-align: center;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          text-shadow: 0 0 10px hsla(0, 0%, 0%, 0.5);
          color: #FFF;
          z-index: 10;
          font: 800 13px/1em "Open Sans", sans-serif;

          i {
            font-size: 40px;
          }
        }
      }

      .back {
        z-index: 9;
        position: relative;
        -ms-transform: rotateY(-180deg);
        -webkit-transform: rotateY(-180deg);
        transform: rotateY(-180deg);

        .text-wrap {
          height: 100%;
          width: 100%;
          background: #fff;
          color: #000;
          padding: 10px;
          margin: 0 auto;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          text-align: center;

          p {
            opacity: 0.7;
            line-height: 1.2em;
          }
        }
      }

      .front,
      .back {
        position: absolute;
        width: 100%;
        height: 100%;
        -ms-transition: transform 0.8s;
        -webkit-transition: transform 0.8s;
        transition: transform 0.8s;
        -ms-backface-visibility: hidden;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        overflow: hidden;

        .image-wrap, .text-wrap {
          overflow: hidden;
          border: 2px solid #ffb500;
          border-radius: 15px;
          @media(min-width: 768px) {
            border-radius: 20px;
          }
        }
      }
    }
  }

  .image-wrap {
    background: #ffb500 center center/cover no-repeat;
    width: 100%;
    padding-bottom: 100%;
    display: inline-block;
  }
}


.infusion-form input,
.infusion-form button {
  font: 400 18px/45px 'Open Sans', sans-serif;
  height: 45px;
  color: #999;
  border-radius: 100px;
  padding: 7px 20px;
  margin: 0 auto 10px;
  transition: all .2s ease-in;
  box-shadow: none;
  text-align: inherit;
  border: none;
  @media(min-width: 768px) {
    font-size: 23px;
    height: 55px;
    line-height: 55px;
    margin: 0 auto 15px;
  }
}

.infusion-form input {
  border: 2px solid #000;
}
.infusion-form button {
  font-family: $bebas;
  color: #FFF;
  background: #9101f6;
  text-transform: uppercase;
  margin: 0 auto 15px;
  text-align: center;
  display: block;
  cursor: pointer;
  border: none;
  width: 100%;
  padding: 0;
  &:hover {
    background: lighten(#9101f6, 10%);
  }
}

.thank-you-box {
  width: 100%;
  max-width: 960px;
  border-radius: 5px;
  height: auto;
  max-height: 0;
  visibility: hidden;
  opacity: 0;
  transition: all .4s ease-in;
  display: block;
  margin: 0 auto;
  background: #FFF;
  text-align: center;
  overflow: hidden;
  color: #000;

  &.active {
    max-height: 1000px;
    visibility: visible;
    opacity: 1;
    padding: 15px;
    @media(min-width: 768px) {
      padding: 20px;
    }
    @media(min-width: 1024px) {
      padding: 30px;
    }
  }

  p {
    font: 400 15px/1.4em 'Open Sans', sans-serif;
    margin: 0 auto;
    @media(min-width: 768px) {

      font-size: 19px;
    }
    @media(min-width: 1024px) {

      font-size: 23px;
    }

    em {
      line-height: 1.4em;
      max-width: 550px;
      display: inline-block;
      font-size: 12px;
      @media(min-width: 768px) {

        font-size: 14px;
      }
    }
  }

  h2 {
    font: 700 30px/1em $bebas;
    margin: 15px auto;
    text-transform: uppercase;
    color: #9101f6;
    @media(min-width: 768px) {
      font-size: 37px;
      margin: 20px auto;
    }
    @media(min-width: 1024px) {
      font-size: 44px;
    }
  }

  .social-media a {
    background: #000;
    color: #fff;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    margin: 20px 3px 0;
    width: 50px;
    height: 50px;
    line-height: 50px;
    font-size: 26px;
    @media(min-width: 1024px) {
      width: 70px;
      height: 70px;
      line-height: 70px;
      font-size: 35px;
      margin: 25px 10px 0;
    }
  }
}

.disclaimer {
  display: inline-block;
  margin: 0 auto;
  opacity: 0.9;
  max-width: 500px;

  i {
    width: 40px;
    font-size: 21px;
    line-height: 1em;
    float: left;
    @media(min-width: 768px) {
      font-size: 29px;
    }
  }

  span {
    font: italic 400 12px/1.4em 'Open Sans', sans-serif;
    margin: 0 auto;
    width: calc(100% - 40px);
    float: left;
    text-align: left;
  }
}
