@import "../_variables";

[placeholder]:focus::-webkit-input-placeholder {
  color: transparent;
}

form ::-webkit-input-placeholder {
  color: #777;
}

form ::-moz-placeholder {
  color: #777;
}

form :-ms-input-placeholder {
  color: #777;
}

form :-moz-placeholder {
  color: #777;
}

.no-padding {
  padding-left: 0;
  padding-right: 0;
}

.overflow {
  position: fixed !important;
  width: 100% !important;
  height: 100% !important;
  overflow: hidden !important;
  overflow-x: hidden !important;
  overflow-y: hidden !important;
}

.sign-up-disclaimer {
  margin: 20px 0 0;
  padding: 0;
  color: #FFF;
  font: 400 12px/1.4em $opensans;
  text-align: center;
  @include tablet {
    font-size: 16px;
  }
  @include desktop {
    margin: 30px 0 0;
    font-size: 16px;
  }
}

.infusion-form input,
.infusion-form button {
  font: 400 18px/50px $opensans;
  width: 100%;
  height: 50px;
  color: #999;
  border-radius: 100px;
  padding: 7px 20px;
  margin: 0 auto 10px;
  transition: all .2s ease-in;
  box-shadow: none;
  text-align: inherit;
  border: none;
  @include tablet {
    font-size: 19px;
    height: 55px;
    line-height: 55px;
    margin: 0 auto 15px;
  }
  @include desktop {
    font-size: 26px;
    height: 70px;
    line-height: 70px;
  }
}

.infusion-form button {
  font-family: $bebas;
  color: #FFF;
  background: $guitareoGreen;
  text-transform: uppercase;
  margin: 0 auto 15px;
  text-align: center;
  display: block;
  cursor: pointer;
  border: none;
  width: 100%;
  padding: 0;

  &:hover {
    background: lighten($guitareoGreen, 10%);
  }

  &.outline {
    background: transparent;
    border: 2px solid #FFF;
    line-height: 46px;
    @include tablet {
      line-height: 51px;
    }
    @include desktop {
      line-height: 66px;
    }

    &:hover {
      background: #FFF;
      color: $guitareoGreen;
    }

  }
}

.disclaimer {
  display: inline-block;
  margin: 0 auto;
  opacity: 0.9;
  max-width: 500px;

  i {
    width: 40px;
    font-size: 21px;
    line-height: 1em;
    float: left;
    @include tablet {
      font-size: 29px;
    }
  }

  span {
    font: italic 400 12px/1.4em $opensans;
    margin: 0 auto;
    width: calc(100% - 40px);
    float: left;
    text-align: left;
  }
}

.thank-you-box {
  width: 100%;
  max-width: 960px;
  border-radius: 5px;
  height: auto;
  max-height: 0;
  visibility: hidden;
  opacity: 0;
  transition: all .4s ease-in;
  display: block;
  margin: 0 auto;
  background: #FFF;
  text-align: center;
  overflow: hidden;
  color: #000;

  &.active {
    max-height: 1000px;
    visibility: visible;
    opacity: 1;
    padding: 15px;
    @include tablet {
      padding: 20px;
    }
    @include desktop {
      padding: 30px;
    }
  }

  p {
    font: 400 15px/1.4em $opensans;
    margin: 0 auto;
    @include tablet {

      font-size: 19px;
    }
    @include desktop {

      font-size: 23px;
    }

    em {
      line-height: 1.4em;
      max-width: 550px;
      display: inline-block;
      font-size: 12px;
      @include tablet {

        font-size: 14px;
      }
    }
  }

  h2 {
    font: 700 30px/1em $bebas;
    margin: 15px auto;
    text-transform: uppercase;
    color: $guitareoGreen;
    @include tablet {
      font-size: 37px;
      margin: 20px auto;
    }
    @include desktop {
      font-size: 44px;
    }
  }

  .social-media a {
    background: #000;
    color: #fff;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    margin: 20px 3px 0;
    width: 50px;
    height: 50px;
    line-height: 50px;
    font-size: 26px;
    @include desktop {
      width: 70px;
      height: 70px;
      line-height: 70px;
      font-size: 35px;
      margin: 25px 10px 0;
    }
  }
}

.bgsk-header {
  background: url(https://d122ay5chh2hr5.cloudfront.net/starter-kit/bg-tile.jpg);
  font-size: 0;
  text-align: center;
  color: #FFF;
  padding: 25px 0;
  @include desktop {
    padding: 50px 0 70px;
  }

  .bgsk-logo {
    width: 100%;
    max-width: 100%;
    padding: 0 30px;
    margin: 15px auto 20px;
    @include tablet {
      margin: 20px auto;
      max-width: 500px;
    }
  }

  .outline-button {
    display: inline-block;
    font: 700 14px/1em $bebas;
    text-transform: uppercase;
    border-radius: 100px;
    color: #FFF;
    cursor: pointer;
    text-align: center;
    padding: 7px 15px;
    background: transparent;
    border: 2px solid #FFF;
    margin-top: 0;
    @include tablet {
      font-size: 15px;
      padding: 8px 20px;
      margin-top: 5px;
    }

    @include desktop {
      padding: 10px 30px;
    }

    &:hover {
      background: #FFF;
      color: #2D2D2D;
    }
  }
}

.lesson-grid {
  .white-box {
    background: #FFF;
    border-radius: 5px;
    margin: 0 auto 10px;
    padding: 30px 5px 15px;
    @include tablet {
      margin: 0 auto 20px;
      padding: 50px 30px 40px;
    }
  }

  h2 {
    margin: 0 auto 15px;
    color: #000;
    font: 700 20px/1.1em $opensans;
    @include tablet {
      font-size: 30px;
      margin: 0 auto 30px;
    }
    @include desktop {
      font-size: 38px;
    }
  }

  a {
    text-decoration: none !important;

    img {
      width: 100%;
      border-radius: 5px 5px 0 0;
      position: relative;
    }

    &:hover:after {
      display: inline-block;
      font: normal normal normal 48px/1 Font Awesome\ 5 Pro;
      text-rendering: auto;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      font-weight: 900;
      color: #FFF;
      position: absolute;
      top: 40%;
      left: 50%;
      transform: translate(-50%, -50%);
      -moz-transform: translate(-50%, -50%);
      -webkit-transform: translate(-50%, -50%);
      text-shadow: 0 0 20px #000;
      content: "\f04b";
    }

    .access-button {
      width: 100%;
      background-color: $guitareoGreen;
      padding: 5px;
      text-align: center;
      color: #FFF;
      font: 700 14px $bebas;
      text-transform: uppercase;
      border-radius: 0 0 5px 5px;
      margin: 0 auto 20px;

      &.blue {
        background: #408beb;
      }
    }

    &:hover {
      opacity: 0.9;

      .access-button {
        background-color: lighten($guitareoGreen, 10%);
        text-decoration: none !important;

        &.blue {
          background-color: lighten(#408beb, 10%);
        }
      }
    }
  }

  .social-links a {
    background: #000;
    color: #FFF;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    margin: 10px 10px 0;
    width: 50px;
    height: 50px;
    line-height: 50px;
    font-size: 26px;
    @include tablet {
      width: 70px;
      height: 70px;
      line-height: 70px;
      font-size: 35px;
    }
    @include desktop {
      width: 90px;
      height: 90px;
      line-height: 90px;
      font-size: 45px;
    }

    &:hover {
      background: #222;
    }
  }
}

.lesson-thumbnail {
  margin-bottom: 15px;

  &.with-details {
    .thumb .lock-overlay,
    .thumb .play-overlay {
      height: 100%;
      background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 35%, rgba(0, 0, 0, 0.65) 100%);
      background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 35%, rgba(0, 0, 0, 0.65) 100%);
      background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 35%, rgba(0, 0, 0, 0.65) 100%);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#a6000000', GradientType=0);
    }
  }

  a:hover {
    cursor: pointer;
  }

  .thumb {
    border-radius: 5px;
    overflow: hidden;
    position: relative;
    font-size: 0;
    z-index: 1;

    img {
      max-width: 100%;
      height: auto;
      margin: 0 auto;
      z-index: 1;
    }

    .lock-overlay,
    .play-overlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 2;

      i {
        font-size: 48px;
        color: #FFF;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%);
        text-shadow: 0 0 20px #000;

      }
    }

    .play-overlay i {
      transition: opacity .1s ease-in-out;
      opacity: 0;
    }

    &:hover .play-overlay i {
      opacity: 1;
    }

    .series-details {
      position: absolute;
      bottom: 20px;
      left: 15px;
      width: 100%;
      font: 500 14px/1em $opensans;
      color: $guitareoGreen;
      text-transform: uppercase;
      z-index: 2;
    }

    .badge {
      position: absolute;
      left: 0;
      top: 0;
      border-radius: 5px 0 5px 0;
      padding: 5px 8px;
      font: 700 13px $bebas;
      text-transform: uppercase;
      background: $guitareoGreen;
      color: #FFF;
      z-index: 2;
    }
  }

  h4 {
    font: 700 14px/1em $opensans;
    margin: 10px auto 0;
    @include tablet {
      height: auto;
      font-size: 18px;
    }

    i {
      font: italic 400 11px $opensans;
      color: #999;
      text-transform: uppercase;
    }
  }
}

a.download-button {
  background-color: #000;
  padding: 10px 15px;
  display: inline-block;
  width: 100%;
  text-align: center;
  color: #FFF;
  font: 700 14px $bebas;
  text-transform: uppercase;
  margin: 10px auto 0;
  border-radius: 100px;
  @include tablet {
    font-size: 17px;
  }

  &:hover {
    background-color: lighten(#000, 10%);
    text-decoration: none;
  }

  &:after,
  &:hover:after {
    content: " \f019";
    display: inline-block;
    font: normal normal normal 14px/1 Font Awesome\ 5 Pro;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 900;
    margin-left: 5px;
    position: unset;
    text-shadow: none;
    transform: none;
  }

  &.big {
    position: relative;
    text-transform: uppercase;
    background: $guitareoGreen;
    border: 2px solid $guitareoGreen;
    padding: 16px 15px;
    font: 700 16px $bebas;
    @include tablet {
      font-size: 23px;
      padding: 20px 15px;
    }

    em {
      position: absolute;
      bottom: 5px;
      left: 0;
      right: 0;
      font-weight: 400;
      font-size: 12px;
      @include tablet {
        font-size: 13px;
        bottom: 8px;
      }
    }

    &:hover {
      background-color: lighten($guitareoGreen, 10%);
      border-color: lighten($guitareoGreen, 10%);
    }

    &:after {
      content: "";
      margin-left: 0;
    }

    &.outline {
      background: transparent;
      color: $guitareoGreen;

      &:hover {
        background-color: lighten($guitareoGreen, 10%);
        color: #FFF;
      }

    }
  }
}

.grecaptcha-badge,
.grecaptcha-logo {
  display: none !important;
}
