@import "../_variables";

h1, h2, h3, h4, h5, h6, p, li {
  font-family: $opensans;
}

.text-yellow,
a.text-yellow:hover {
  color: #ffdb00;
}

.text-blue {
  color: $drumeoBlue;
}

.text-grey {
  color: #646464;
}

.text-white {
  color: #fff;
}


@keyframes fadeEffect {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.play-button {
    cursor: pointer;
    outline: none;
    transition: opacity .3s;
    color: #fff;
    background: rgba(0, 0, 0, 0.6);
    border: 3px solid #fff;
    border-radius: 200px;
    line-height: 1em;
    font-size: 29px;
    padding: 18px 22px;
    @include tablet {
        font-size: 35px;
        padding: 22px 27px;
        border-width: 4px;
    }
    @include desktop {
        font-size: 39px;
        padding: 25px 30px;
    }

    &:hover {
        opacity: 0.8;
    }

    &.smaller {
        border-width: 2px;
        font-size: 24px;
        padding: 15px 17px;
    }
}

.header {
  background: $musoraBlack center top/cover no-repeat;
  position: relative;
  color: #FFF;
  padding: 0 0 20px;
  @include tablet {
    padding: 35px 0;
  }

  .background-fade {
    background: $musoraBlack center center/cover no-repeat;
    position: absolute;
    z-index: 0;
    top: 0;
    right: 0;
    left: 0;
    bottom: 380px;
    @include tablet {
      bottom: 210px;
    }
    @include desktop {
      bottom: 240px;
    }

    &:nth-of-type(2) {
      opacity: 0;
      animation-delay: 10s;
      animation: fadeEffect 10s infinite ease-in-out;
    }

    &:after {
      content: ' ';
      position: absolute;
      display: block;
      z-index: 0;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      background: linear-gradient(0deg, $musoraBlack 0%, transparent 30%, transparent 70%, rgba(0, 0, 0, 0.6) 100%);
    }

  }

  .row {
    position: relative;
    z-index: 1;
  }

  .logo {
    width: 260px;
    margin: 0 auto 20px;
    @include tablet {
      width: 200px;
      margin: 0 auto;
    }
    @include desktop {
      width: 270px;
    }
  }

  .watch-badge {
    position: absolute;
    transform: translate(-50%, -50%);
    font: 400 14px/1em $bebas;
    text-shadow: 0 0 20px $musoraBlack;
    top: 200px;
    left: 72%;
    @include tablet {
      font-size: 18px;
      top: 270px;
      left: 65%;
    }
    @include desktop {
      font-size: 23px;
      top: 300px;
      left: 62%;
    }

    img {
      display: block;
      margin-top: 5px;
      width: 24px;
      @include tablet {
        width: 33px;
      }
      @include desktop {
        width: 41px;
      }
    }
  }

  .play-button {
    margin: 180px auto 80px;
    @include tablet {
      margin: 180px auto 130px;
    }
  }

  h2 {
    margin: 0 auto;
    font-size: 23px;
    @include tablet {
      font-size: 24px;
    }
    @include desktop {
      font-size: 38px;
    }
  }

  .join {
    width: 95%;
    margin: 20px auto;
    @include tablet {
      margin: 25px auto;
      font-size: 35px;
    }
    @include desktop {
      margin: 30px auto;
      font-size: 40px;
      padding: 20px;

    }
  }

  p {
    margin: 0 auto;
    width: 100%;
    max-width: 300px;
    font-size: 15px;
    line-height: 1.7em;
    @include tablet {
      font-size: 14px;
      max-width: 100%;
    }
    @include desktop {
      font-size: 15px;
    }

    &.dense {
      font-family: $bebas;
      text-transform: uppercase;
      margin-bottom: 5px;
      font-size: 16px;
      @include tablet {
        font-size: 17px;
      }
      @include desktop {
        font-size: 19px;
      }
    }

  }

}

.reveal-overlay {
  background-color: rgba(0, 0, 0, 0.8);

  &:after {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-family: "Font Awesome 6 Pro";
    font-weight: 900;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    content: "\f00d";
    color: #fff;
    z-index: 1;
    opacity: 0.8;
    position: absolute;
    margin: 0;
    line-height: 1em;
    text-align: center;
    display: inline-block;
    outline: none;
    top: 0;
    right: 0;
    font-size: 35px;
    width: 35px;
    @include tablet {
      top: 7px;
      right: 7px;
      font-size: 50px;
      width: 50px;
    }
  }

  .reveal {
    height: inherit;
    min-height: 0;
    outline: none;
    padding: 0;
    border: none;
    border-radius: 5px;

    .flex-video {
      margin: 0 auto;
    }

    p {
      margin: 5px auto;
    }

    .join {
      margin: 10px auto;
    }
  }
}

.content-section {
  background: $musoraBlack;
  position: relative;
  color: #fff;
  padding: 30px 0;
  @include tablet {
    padding: 40px 0;
  }
  @include desktop {
    padding: 60px 0;
  }

  h2 {
    margin: 0 auto 30px;
    line-height: 1.2em;
    font-size: 22px;
    @include tablet {
      font-size: 30px;
      margin: 0 auto 60px;
    }
    @include desktop {
      font-size: 40px;
    }

    strong {
      font-weight: 900;
    }
  }

  h5 {
    font-size: 16px;
    @include desktop {
      font-size: 19px;
    }

    strong {
      font-weight: 900;
    }
  }

  p {
    font-size: 14px;
    @include tablet {
      font-size: 13px;
    }
    @include desktop {
      font-size: 15px;
    }
  }
}

.two-sides {
  .row {
    position: relative;
  }

  h2 {
    margin-bottom: 17px;
  }

  .pad-toggle {
    @include tablet {

      cursor: pointer;

      &:hover {
        .pad-details {

          color: #ddd;

          &.active {
            color: #000;
            z-index: 1;

            .pad-icon,
            .arrow.active {
              filter: sepia(1) saturate(30) brightness(0.4) hue-rotate(150deg);
            }

            .arrow.active {
              opacity: 1;
            }

            &.quiet {
              .pad-icon,
              .arrow.active {
                filter: saturate(0) brightness(0.39);
              }
            }
          }

        }

        .pad-flipper {
          transform: scale(1.01);

          div .hover-icon {
            opacity: 1;
          }
        }
      }

    }
  }

  .pad-details {
    transition: color 0.5s ease-in;
    padding: 0 15px;
    @include tablet {
      padding: 0;
      color: #ddd;
      position: absolute;
      top: 60%;
      transform: translate(0, -50%);
      width: 210px;
      left: 15px;
    }
    @include desktop {
      width: 290px;
    }

    &.quiet {
      @include tablet {
        left: auto;
        right: 15px;
      }
    }

    .mobile-pad {
      width: 240px;
      margin: 30px auto 0;
      position: relative;
      z-index: 2;
    }

    .pad-icon {
      width: 70px;
      position: relative;
      left: 65%;
      top: -60px;
      margin: -35px;
      z-index: 1;
      filter: brightness(0.8);

      @include tablet {
        width: 35px;
        margin: 0 auto 10px;
        position: unset;
        left: auto;
        top: auto;
      }

    }

    h5 {
      margin: 0 auto;
      font-size: 19px;
      @include tablet {
        font-size: 16px;
      }
      @include desktop {
        font-size: 19px;
      }
    }

    p {
      font-size: 16px;
      margin: 5px auto;
      @include tablet {
        font-size: 13px;
        margin: 0 auto 10px;
      }
      @include desktop {
        font-size: 15px;
      }
    }

    .arrow {
      transition: opacity 0.5s ease-in;
      opacity: 0;
      width: auto;
      height: 100%;
      max-height: 32px;
      @include tablet {
        filter: sepia(1) saturate(15) brightness(0.25) hue-rotate(137deg);
      }
      @include desktop {
        max-height: 45px;
      }
    }

    &.active {
      @include tablet {

        color: #000;
        z-index: 1;

        .pad-icon,
        .arrow.active {
          filter: sepia(1) saturate(30) brightness(0.4) hue-rotate(150deg);
        }

        .arrow.active {
          opacity: 1;
        }

        &.quiet {
          .pad-icon,
          .arrow.active {
            filter: brightness(0.8);
          }
        }
      }
    }
  }

  .pad-flipper {
    transition: margin 0.5s ease-in, transform 0.5s ease-in;
    transform-style: preserve-3d;
    position: relative;
    perspective: 500px;
    display: inline-block;
    width: 300px;
    height: 300px;
    @include tablet {
        width: 340px;
        height: 340px;
      margin: 0 20px 0 0;
    }
    @include desktop {
      width: 500px;
      height: 500px;
      margin: 0 30px 0 0;
    }


    &.flipped {
      @include tablet {
        margin: 0 0 0 20px;
      }
      @include desktop {
        margin: 0 0 0 30px;
      }

      div {
        transform: rotateY(0deg);

        &:nth-child(2) {
          transform: rotateY(180deg);
        }

      }
    }

    div {
      background: transparent center center/cover no-repeat;
      transition: transform 0.5s ease-in;
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      backface-visibility: hidden;
      overflow: hidden;
      transform: rotateY(-180deg);

      &:nth-child(2) {
        transform: rotateY(0deg);
      }

      .hover-icon {
        transition: opacity 0.5s ease-in;
        opacity: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        margin: -20px;
        z-index: 4;
        font-size: 40px;
      }
    }
  }
}

.together {
  .row {
    position: relative;
  }

  .pad {
    position: absolute;
    right: 195px;
    width: 420px;
    @include tablet {
      right: 315px;
      width: 450px;
    }
    @include desktop {
      right: 450px;
      width: 870px;
    }
  }

  .text-wrap {
    float: right;
    width: 195px;
    padding-right: 15px;
    text-align: right;
    @include tablet {
      width: 315px;
      padding-right: 0;
      text-align: left;
    }
    @include desktop {
      width: 450px;
    }

    p {
      margin: 0 auto;

      &.text-blue {
        margin: -7px auto 10px;
        @include tablet {
          margin: 0 auto 40px;
        }
        @include desktop {
          margin: 10px auto 70px;
        }
      }
    }

    img {
      margin-right: 7px;
      width: 30px;
      @include tablet {
        width: 40px;
      }
      @include desktop {
        width: 100px;
        margin-right: 35px;
      }
    }

    .text-grey img {
      filter: saturate(0);
    }
  }

  .modal-wrapper {
    width: 100%;
    max-width: 1400px;
    margin: 70px auto 0;
    padding: 0 10px;
    @include tablet {
      padding: 0 15px;
    }
    @include desktop {
      margin: 150px auto 0;
    }

    .thumb {
      float: left;
      overflow: hidden;
      position: relative;
      padding: 7px;
      cursor: pointer;
      width: 33.33%;
      @include desktop {
        width: 16.66%;
      }

      &.size-16-9 {
        width: 50%;
        @include tablet {
          width: 33.33%;
        }

        div {
          padding-bottom: 56.5%;
        }
      }

      div {
        background: #000 center center/cover no-repeat;
        border-radius: 14px;
        padding-bottom: 100%;

      }
    }

    .img-modal {
      cursor: pointer;
      outline: none;
      transition: transform .3s;

      &:hover {
        transform: scale(1.05);
        z-index: 2;

        div {
          border: 3px solid #fff;
          margin: -3px 0;
        }
      }
    }

    .video-pop {
      display: inline-block;
      position: relative;
      margin: 0 auto;
      cursor: pointer;
      outline: none;
      padding: 7px;
      width: 100%;
      @include tablet {
        float: left;
        width: 33.33%;
      }

      .bg {
        width: 100%;
        border-radius: 14px;
      }

      .watch-badge {
        font: 400 13px/1em $bebas;
        text-shadow: 0 0 20px $musoraBlack;
        @include desktop {
          font-size: 18px;
        }
      }
    }
  }
}

.slider-lightbox {
  color: #FFF;
  position: fixed;
  overflow: hidden;
  top: 53%;
  left: 50%;
  width: 100%;
  max-width: 90%;
  max-height: 90%;
  transform: translate(-50%, -50%);
  z-index: 99;
  visibility: hidden;
  opacity: 0;
  transition: opacity .3s;

  &.active {
    visibility: visible;
    opacity: 1;
  }

  .row {
    position: relative;
    max-width: 900px;
  }

  .review-slide {
    display: none;
    position: absolute;
    top: 0;
    opacity: 0;
    width: 100%;
    max-width: 100%;
    height: auto;

    .image {
      background: #000 center center/cover;
      width: 100%;
      padding-bottom: 100%;
      border-radius: 7px;

      &.size-16-9 {
        padding-bottom: 56.5%;
      }
    }

    &.current-slide {
      display: block;
      position: relative;
      left: 0;
      right: 0;
      transform: translate(0, 0);
      opacity: 1;
    }

    &.prev-slide {
      transform: translate(-100%, 0);
    }

    &.next-slide {
      transform: translate(100%, 0);
    }
  }


  .arrow {
    position: absolute;
    transition: transform .3s, opacity .3s;
    visibility: hidden;
    opacity: 0;
    top: 0;
    bottom: 0;
    text-align: center;
    cursor: pointer;
    z-index: 98;
    width: 30px;
    @include tablet {
      width: 60px;
    }
    @include desktop {
      width: 80px;
    }

    &.scroll-left {
      left: 0;
    }

    &.scroll-right {
      right: 0;
    }

    &.active {
      visibility: visible;
      opacity: 1;
    }

    i {
      font-size: 30px;
      color: #EEE;
      text-shadow: 0 0 15px #000;
      position: absolute;
      width: 100%;
      transform: translate(0, -50%);
      top: 50%;
      left: 0;
      right: 0;
      @include tablet {
        font-size: 60px;
      }
      @include desktop {
        font-size: 80px;
      }
    }

    &:hover {
      transform: scale(1.05);
    }
  }

  .close-modal {
    cursor: pointer;
    z-index: 99;
    text-shadow: 0 0 15px #000;
    color: #fff;
    opacity: 0.8;
    position: absolute;
    margin: 0;
    line-height: 1em;
    text-align: center;
    display: inline-block;
    outline: none;
    top: 0;
    right: 0;
    font-size: 35px;
    width: 35px;
    @include tablet {
      font-size: 50px;
      width: 50px;
    }
  }
}

.slider-overlay {
  position: fixed;
  top: 40px;
  height: calc(100% - 40px);
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 98;
  visibility: hidden;
  opacity: 0;
  transition: opacity .3s;
  @include tablet {
    top: 56px;
    height: calc(100% - 56px);
  }

  &.active {
    visibility: visible;
    opacity: 1;
  }
}

.comparison {

  table {
    width: 100%;
    max-width: 950px;
    margin: 0 auto;
    border-collapse: separate;
    border-spacing: 7px 0;
    @include desktop {
      border-spacing: 15px 0;
    }

    tbody {
      border: none;
      background: transparent;

      tr {

        &:hover,
        &:nth-child(even):hover {
          td:nth-child(2) {
            background-color: lighten($drumeoBlue, 2%);
          }

          td:nth-child(3),
          td:nth-child(4),
          td:nth-child(5) {
            background-color: lighten($musoraBlack, 2%);
          }
        }


        td {
          padding: 7px;
          font: 400 14px/1.2em $opensans;
          @include tablet {
            font-size: 15px;
            padding: 15px 7px;
          }
          @include desktop {
            font-size: 17px;
          }

          i {
            font-size: 21px;
            @include tablet {
              font-size: 24px;
            }
            @include desktop {
              font-size: 28px;
            }
          }

          &:nth-child(1) {
            text-align: left;
            font: 700 12px/1.2em $bebas;
            text-transform: uppercase;
            @include tablet {
              font-size: 15px;
            }
            @include desktop {
              font-size: 17px;
            }
          }

          &:nth-child(3),
          &:nth-child(4) {
            display: none;
          }

          &:nth-child(2) {
            background-color: $drumeoBlue;
            text-shadow: 3px 3px 0 #0a69c3;

            i {
              font-size: 29px;
              @include tablet {
                font-size: 34px;
              }
              @include desktop {
                font-size: 42px;
              }
            }
          }

          &:nth-child(3),
          &:nth-child(4),
          &:nth-child(5) {
            background-color: #274b6b;
            border: 1px solid #22435f;
            border-width: 0 5px;
          }


          &:nth-child(2),
          &:nth-child(3),
          &:nth-child(4),
          &:nth-child(5) {
            color: #fff;
            width: 35%;
            @include tablet {
              width: 38%;
            }
          }
        }

        &:nth-child(even) {
          background-color: transparent;
        }

        &:nth-child(1) td {
          text-transform: uppercase;
          font-family: $bebas;
          border-radius: 7px 7px 0 0;
          padding: 15px 0;
          @include tablet {
            font-size: 22px;
            padding: 20px 10px;
          }
          @include desktop {
            font-size: 30px;
            padding: 25px 10px;
          }

          img {
            width: auto;
            height: 30px;
            @include tablet {
              height: 50px;
            }
            @include desktop {
              height: 70px;
            }
          }

          i {
            font-size: 13px;
            @include tablet {
              font-size: 18px;
            }
            @include desktop {
              font-size: 22px;
            }
          }

          &:nth-child(2) {
            background: darken($drumeoBlue, 5%);
          }

          &:nth-child(3),
          &:nth-child(4),
          &:nth-child(5) {
            background: #22435f;
          }
        }

        &:last-child td {
          border-radius: 0 0 7px 7px;
          font-family: $opensans;
          padding: 20px 10px;
          @include tablet {
            padding: 50px 10px;
            font-size: 16px;
          }
          @include desktop {
            font-size: 21px;
          }

          strong {
            font-weight: 900;
            font-size: 15px;
            @include tablet {
              font-size: 27px;
            }
            @include desktop {
              font-size: 34px;
            }
          }

          &:nth-child(2) strong {
            font-size: 26px;
            @include tablet {
              font-size: 40px;
            }
            @include desktop {
              font-size: 50px;
            }
          }

          &:nth-child(5) {
            border-width: 0 5px 5px;
          }
        }
      }
    }
  }
}

.final {
  .bubbles {
    width: 100%;
    max-width: 330px;
    @include tablet {
      max-width: 610px;
    }
    @include desktop {
      max-width: 870px;
    }
  }

  .logo {
    width: 240px;
    margin: 25px auto 0;
    @include tablet {
      width: 310px;
      margin: 0 auto;
    }
    @include desktop {
      width: 430px;
    }
  }

  h3 {
    font: 400 18px/1.2em $bebas;
    text-transform: uppercase;
    margin: 20px auto;
    @include tablet {
      margin: 20px auto 30px;
      font-size: 26px;
    }
    @include desktop {
      font-size: 31px;
      margin: 30px auto 40px;
    }

    strong {
      line-height: 1.2em;
      font-size: 40px;
      @include tablet {
        font-size: inherit;
      }
    }

    .text-yellow {
      font-size: 18px;
      @include tablet {
        font-size: 20px;
      }
      @include desktop {
        font-size: 24px;
      }
    }
  }

  .join {
    width: 95%;
    margin: 0 auto 20px;
    @include tablet {
      margin: 0 auto 30px;
    }
    @include desktop {
      margin: 0 auto 40px;
      font-size: 40px;
      padding: 20px;

    }
  }

  .credit-cards {
    i {
      opacity: 0.7;
      margin: 0 3px;
      font-size: 45px;
      @include tablet {
        font-size: 50px;
      }
    }

    img {
      width: 100%;
      max-width: 340px;
      @include tablet {
        max-width: 480px;
      }
      @include desktop {
        max-width: 550px;
      }
    }
  }

  .questions {
    margin: 15px 0 0;

    p {
      margin: 0;
      opacity: 0.7;
      max-width: 100%;
      font-size: 13px;

      a {
        color: inherit;
        display: inline-block;
      }
    }
  }
}
