@import "../_variables";

h1 strong, h2 strong, h3 strong, h4 strong, h5 strong, h6 strong {
  font-weight: 900;
}

h1, h2, h3, h4, h5, h6, li, p {
  font-weight: 400;
  line-height: 1em;
  font-family: $opensans;
  margin: 0 auto;

  sup {
    font-size: 50%;
    top: -0.75em;
  }
}

h1 {
  line-height: 1.2em;
  font-size: 24px;
  @include tablet {
    font-size: 36px;
  }
  @include desktop {
    font-size: 48px;
  }
}

h2 {
  line-height: 1.2em;
  font-size: 20px;
  @include tablet {
    font-size: 30px;
  }
  @include desktop {
    font-size: 36px;
  }
}

h3 {
  font-size: 18px;
  @include tablet {
    font-size: 24px;
  }
  @include desktop {
    font-size: 30px;
  }
}

h4 {
  font-size: 16px;
  @include tablet {
    font-size: 20px;
  }
  @include desktop {
    font-size: 24px;
  }
}

h5 {
  font-size: 15px;
  @include tablet {
    font-size: 18px;
  }
  @include desktop {
    font-size: 20px;
  }
}

h6 {
  font-size: 15px;
  @include tablet {
    font-size: 16px;
  }
  @include desktop {
    font-size: 18px;
  }
}

p, li {
  line-height: 1.6em;
  font-size: 15px;
  @include desktop {
    font-size: 16px;
  }
  //@include desktop {
  //  font-size: 15px;
  //}
}

img {
  display: inline-block;
}

.text-red {
  color: #F71B26;
}

.join.with-logo {
  padding: 7px 12px;
  @include tablet {
    padding: 7px 30px;
  }
}
.join.smaller {
  padding: 7px 12px;
  font-size: 13px;
  @include tablet {
    font-size: 14px;
    padding: 13px 30px;
  }
}

.reveal-overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2147483002;
  display: none;
  overflow-y: auto;
  background-color: rgba(0, 0, 0, 0.8);

  &:after {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-family: "Font Awesome 6 Pro";
    font-weight: 900;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    content: "\f00d";
    color: #fff;
    z-index: 1;
    opacity: 0.8;
    position: absolute;
    margin: 0;
    line-height: 1em;
    text-align: center;
    display: inline-block;
    outline: none;
    top: 0;
    right: 0;
    font-size: 35px;
    width: 35px;
    @include tablet {
      top: 7px;
      right: 7px;
      font-size: 50px;
      width: 50px;
    }
  }

  .reveal {
    z-index: 1006;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    display: none;
    background-color: #fefefe;
    position: relative;
    top: 100px;
    margin-right: auto;
    margin-left: auto;
    overflow-y: auto;
    width: 95%;
    max-width: 75rem;
    height: inherit;
    min-height: 0;
    outline: none;
    padding: 0;
    border: none;
    border-radius: 7px;
    @include tablet {
      right: auto;
      left: auto;
      margin: 0 auto;
    }

    .flex-video {
      margin: 0 auto;
    }

    p {
      margin: 5px auto;
    }

    .join {
      margin: 10px auto;
    }

    &.annual-pitch {
      max-width: 740px;
      padding: 15px 20px;
      @include tablet {
        padding: 15px 30px;
      }
      @include desktop {
        padding: 15px 50px;
      }

      h3 {
        line-height: 1.3em;
      }

      .flex-video {
        margin: 20px auto;
        border-radius: 7px;
      }

      .join {
        margin: 0 auto;
        @include tablet {
          width: 75%;
        }
      }

      p {
        font-size: 13px;
      }
    }

    &.level-wrap,
    &.coach-wrap {
      user-select: none;
      border-radius: 10px;
      text-align: center;
      overflow: visible;
      position: relative;
      max-width: 310px;
      @include tablet {
        max-width: 450px;
      }

      .top-image {
        position: relative;
        background: #333 center top/cover no-repeat;
        border-radius: 10px 10px 0 0;

        .top-icon {
          position: absolute;
          top: 15px;
          left: 15px;
          z-index: 1;

          img {
            height: 10px;
            margin-right: 5px;

            &.icon {
              height: 18px;
            }
          }
        }

        .centered-wrap {
          position: relative;
          z-index: 2;
          color: #fff;

          img {
            width: 175px;
          }
        }
      }

      .bottom-details {
        padding: 15px;
        @include tablet {
          padding: 20px;
        }

        strong {
          font-weight: 900;
        }

        p {
          margin: 0 auto 3px;
          @include tablet {
            margin: 7px auto;
          }

          &.text-blue,
          &.text-coaches {
            text-transform: uppercase;
          }
        }

        .social-bubbles {
          margin: 0 auto 5px;
          @include tablet {
            margin: 0 auto 10px;
          }

          .bubble {
            display: inline-block;
            padding: 0 5px;
            @include tablet {
              padding: 0 10px;
            }

            p {
              font: 400 10px/1.2em $opensans;
              margin: 0 auto;
              text-transform: uppercase;

              i {
                font-size: 12px;
                @include tablet {
                  font-size: 13px;
                }

              }

              strong {
                line-height: 1.2em;
                color: #000;
                font-size: 13px;
                @include tablet {
                  font-size: 14px;
                }
              }
            }

            &.facebook {
              color: $facebook;
            }

            &.youtube {
              color: $youtube;
            }

            &.instagram {
              color: $instagram;
            }

            &.spotify {
              color: #1db954;
            }

            &.grammy {
              color: #b69859;
            }
          }

        }

        .bio {
          margin: 0 auto;
          text-align: left;
          line-height: 1.3em;
          @include tablet {
            line-height: 1.5em;
          }
        }
      }

      .next-prev {
        position: absolute;
        top: 50%;
        color: #fff;
        cursor: pointer;
        font-size: 50px;
        padding: 10px;
        @include tablet {
          font-size: 70px;
          padding: 10px 20px;
        }

        &.fa-angle-left {
          left: -37px;
          @include tablet {
            left: -70px;
          }

        }

        &.fa-angle-right {
          right: -37px;
          @include tablet {
            right: -70px;
          }
        }
      }
    }

    &.level-wrap .top-image {
      padding: 50px 0;
      @include tablet {
        padding: 70px 0;
      }

      &:after {
        content: '';
        position: absolute;
        z-index: 1;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        border-radius: 7px;
        overflow: hidden;
        background: linear-gradient(to bottom, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.4) 30%, transparentize($drumeoBlue, 0.4) 100%);
      }
    }

    &.coach-wrap .top-image {
      padding-bottom: 50%;
      @include tablet {
        padding-bottom: 62%;
      }
    }
  }
}

.drum-shop-header {
  text-align: center;
  background: #021d3a center/cover;
  color: #fff;
  position: relative;
  padding: 30px 0;
  @include tablet {
    padding: 50px 0;
  }

  .logo {
    width: 100%;
    max-width: 100px;
    @include tablet {
      max-width: 150px;
    }
  }

  h1 {
    line-height: 1em;
    letter-spacing: -0.06em;
    margin: 0 auto;
    text-transform: uppercase;
    font-size: 54px;
    @include tablet {
      font-size: 90px;
    }
  }

  .join {
    font-size: 16px;
    padding: 10px 30px;
    @include tablet {
      font-size: 19px;
      padding: 13px 60px;
    }

    &.outline-button {
      padding: 5px 12px;
      background: transparent;
      color: $drumeoBlue;
      border: 2px solid $drumeoBlue;
      margin: 15px auto 0;

      &:hover {
        background: $drumeoBlue;
        color: #000;
      }

      @include tablet {
        padding: 8px 20px;
      }
      @include desktop {
        padding: 14px 30px;
      }
    }
  }

  .vid-thumb {
    position: relative;
    margin: 10px auto 0;
    cursor: pointer;
    outline: none;
    display: inline-block;

    img {
      border: 2px solid $guitareoGreen;
      border-radius: 7px;
      width: 160px;
      @include tablet {
        width: 250px;
      }
    }

    .play-button {
        display: inline-block;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      cursor: pointer;
      outline: none;
      transition: opacity .3s;
      background: rgba(0, 0, 0, 0.6);
      border: 2px solid #fff;
      border-radius: 200px;
      line-height: 1em;
      font-size: 16px;
      padding: 11px;
      @include tablet {
        font-size: 19px;
        padding: 17px;
      }

      &:hover {
        opacity: 0.8;
      }
    }
  }

}

.white-box {
  padding: 20px 15px;
  @include tablet {
    padding: 30px 20px;
  }
  @include desktop {
    padding: 40px 20px;
  }
}

.catalogue-filters {
  text-align: center;
  margin: 0 auto;
  padding: 0 0 5px;
  @include tablet {
    padding: 40px 20px 5px;
  }
  @include desktop {
    padding: 60px 30px 5px;
  }

  .container {
    @include tablet {
      padding: 0 7px;
    }
    @include desktop {
      padding: 0;
    }
  }

  .float-left {
    position: relative;
  }

  .filter-wrap {
    margin: 0 auto 25px;
    background: #000;
    @include tablet {
      margin: 0;
      background: none;
    }

    .filter {
      color: #555D5F;
      cursor: pointer;
      font: 700 17px/1em $bebas;
      border: 1px solid #555D5F;
      border-width: 0 1px 1px 0;
      text-transform: uppercase;
      position: relative;
      padding: 15px 0;
      @include tablet {
        margin-right: 18px;
        padding: 11px 0 9px;
        font: 500 23px/1em $opensans;
        border: none;
        float: left;
        width: auto;
        color: #8B929A;
        text-transform: none;
      }
      @include desktop {
        margin-right: 25px;
        padding: 0 0 7px;
        font-size: 30px;
      }

      &:nth-child(2), &:nth-child(4) {
        border-right: 0;
      }

      &:last-child {
        margin-right: 0;
      }

      &.active {
        color: #FFF;
        @include tablet {
          border-bottom: 2px solid $drumeoBlue;
          font-weight: 700;
          color: #000;
        }

        &:after {
          content: '';
          bottom: -1px;
          height: 3px;
          background: $drumeoBlue;
          position: absolute;
          width: 100%;
          left: 0;
          @include tablet {
            display: none;
          }
        }
      }

      i {
        font-size: 80%;
        margin-right: 2px;
      }
    }
  }

  .select-wrap select {
    border-radius: 10px;
    border: 1px solid #8B929A;
    background: #fff;
    color: #8B929A;
    font: 400 16px $opensans;
    padding: 8px 24px 8px 8px;

    &:focus {
      outline: none;
    }

    option {
      color: #8B929A;
      text-transform: capitalize;
    }
  }
}

.added-to-cart-background {
  padding: 20px 15px;
  width: 100%;
  max-width: 1400px;
  margin: 0 auto 30px;
  @include tablet {
    padding: 25px 20px;
  }

  h2 {
    color: #10D05F;
    font: 700 22px/1em $opensans;
    vertical-align: middle;

    i {
      font-size: 32px;
      margin-right: 10px;
    }
  }

  .check {
    margin-bottom: 5px;
    text-align: center;
    @include tablet {
      text-align: left;
    }
  }

  .product-info {
    padding: 0;

    img {
      max-width: 150px;
      float: left;
      margin-right: 15px;
      border-radius: 5px;
    }

    h4 {
      font: 700 18px/1em $bebas;
      text-transform: uppercase;
      margin-top: 10px;
    }

    p {
      font: 400 14px/1em $opensans;
      margin: 0 auto;
    }

    .checkout {
      text-align: center;
      padding-top: 15px;

      h5 {
        font: 500 18px/1em $opensans;
      }

      .checkout-button {
        font: 700 16px/1em $bebas;
        text-transform: uppercase;
        color: #FFF;
        background: #10D05F;
        width: 90%;
        padding: 14px 5px;
        border-radius: 5px;

        i {
          margin-right: 10px;
        }
      }
    }

    .product {
      text-align: center;
      @include tablet {
        text-align: left;
      }

      img {
        float: none;
        @include tablet {
          float: left;
        }
      }
    }
  }

  .join {
    font-size: 15px;
    @include desktop {
      font-size: 20px;
    }
  }
}

.alert {
  background-color: #FF8484;
  padding: 20px;
  color: #FFF;
  margin: 0 auto 30px;
  border-radius: 5px;
}

.bundles {
  padding: 0;
  margin: 0 auto 20px;
  text-align: center;

  .card-wrap {
    padding: 0 7px;
    @include desktop {
      padding: 0 10px;
    }
  }

  .top-left-badge {
    position: absolute;
    border-radius: 0 0 10px 0;
    top: 0;
    left: 0;
    font: 700 11px/1em $bebas;
    text-transform: uppercase;
    //border: 1px solid #ddd;
    //border-width: 0 1px 1px 0;
    padding: 4px 7px;
    @include tablet {
      padding: 6px 9px;
    }
  }


  .bundle-card {
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    margin: 0 auto 20px;
    border: 1px solid #CCD3D3;
    max-width: 306px;
    width: 100%;
    transition: opacity .3s;
    float: none !important;
    display: inline-block;
    @include tablet {
      max-width: 100%;
    }

    &.sold-out {
      .top-left-badge {
        background: #F71B26;
        color: #FFF;
        width: 100%;
      }

      .join {
        background: #CCD3D3;
        cursor: default;
      }

      .float-left p {
        color: #CCD3D3;
      }
    }

    &:hover {
      opacity: 0.8;
    }

    .float-left {
      text-align: center;
        padding: 20px 15px;
        @include desktop {
            padding: 30px 20px;
      }

      p {
        font: 400 14px/1.2em $opensans;
        color: #000;
        margin: 0 auto 15px;
        width: 100%;
        padding: 0;
        position: relative;
        float: left;
        @include desktop {
          font-size: 17px;
        }

        em {
          width: 100%;
          font-size: 12px;
          margin: 5px auto 10px;
          float: left;
          display: inline-block;
          user-select: none;
          line-height: 1.4em;
          @include desktop {
            font-size: 13px;
          }
        }
        strong {
          font-weight: 800;
        }

        .price {
          font-size: 22px;
        }
      }

      .join {
        width: 100%;
        padding: 10px;
        font-size: 15px;
        @include desktop {
          font-size: 17px;
        }
      }
    }
  }

  .banner-product {
    background: #000 url(https://dpwjbsxqtam5n.cloudfront.net/promos/black-friday/ads/lsf-mobile.jpg) center center/cover no-repeat;
    position: relative;
    border-radius: 10px;
    color: #FFF;
    text-align: center;
    padding: 25px 10px;
    max-width: 306px;
    display: inline-block;
    margin: 0 auto;
    float: none;
    @include tablet {
      padding: 50px 15px;
      max-width: 100%;
      background-image: url(https://dpwjbsxqtam5n.cloudfront.net/promos/black-friday/ads/lsf.jpg);
      display: flex;
      align-items: center;
    }
    @include desktop {
      padding: 80px 5%;
    }

    .text-wrap {
      display: inline-block;
      vertical-align: middle;
      margin-top: 244px;
      @include tablet {
        margin-top: 0;
        margin-left: auto;
      }
    }

    h2 {
      font: 400 17px/1.2em $opensans;
      margin: 0 auto 7px;
      @include tablet {
        font-size: 17px;
        margin: 0 auto 10px;
      }
      @include desktop {
        font-size: 23px;
        margin: 0 auto 15px;
      }

      em {
        font-size: 12px;
        @include tablet {
          font-size: 16px;
        }
        @include desktop {
          font-size: 19px;
        }
      }
    }

    p {
      font: 400 15px/1.2em $opensans;
      text-transform: uppercase;
      @include tablet {
        font-size: 15px;
      }
      @include desktop {
        font-size: 16px;
      }
    }

    img {
      display: inline-block;
      vertical-align: middle;
      max-width: 100%;
      width: 182px;
      @include tablet {
        width: 224px;
      }
      @include desktop {
        width: 377px;
      }
    }

    .join {
      padding: 10px 0;
      font-size: 18px;
      width: 100%;
      @include tablet {
        width: 200px;

      }
      @include desktop {
        width: 220px;

      }
    }

    &:hover {
      opacity: 0.9;
    }

  }
}

.grid-view {
  &:last-child {
    .fixed-cards {
      margin-bottom: 0;
    }
  }

  .fixed-cards {
    font-size: 0;
    text-align: center;
    margin: 0 auto 15px;
    @include tablet {
      margin: 0 auto 25px;
      text-align: left;
    }
    @include desktop {
      margin: 0 auto 40px;
    }

    h1 {
      font: 700 20px/1.2em $opensans;
      margin: 0 auto 30px;
      text-align: left;
      padding-left: 7px;
      padding-right: 7px;
      @include desktop {
        padding-left: 10px;
        padding-right: 10px;
      }

      .heading-icon {
        color: $guitareoGreen;
        display: inline-block;
        max-width: 170px;
        font-size: 24px;
        margin-right: 3px;
        @include tablet {
          margin-right: 8px;
          max-width: 250px;
          font-size: 34px;
        }

        i {
          vertical-align: middle;
        }

        img {
          display: inline-block;
          filter: invert(1) sepia(1) brightness(0.35) hue-rotate(140deg) saturate(37);
          height: 24px;
          @include tablet {
            height: 34px;
          }

        }
      }

      .hudson {
        display: inline;
        vertical-align: bottom;
        width: 105px;
        @include tablet {
          width: 130px;

        }
      }

      em {
        display: inline-block;
        margin: 7px auto 0;
        font-weight: 400;
        font-size: 17px;
      }
    }

    .scalable-card {
      display: inline-block;
      box-sizing: border-box;
      position: relative;
      padding-left: 7px;
      padding-right: 7px;
      max-width: 320px;
      width: 100%;
      margin: 0 auto 15px;
      text-align: left;
      background-color: transparent;
      perspective: 1000px;
      height: 340px;
      @include tablet {
        max-width: 360px;
        width: 50%;
        height: 395px;
      }
      @include desktop {
        padding-left: 10px;
        padding-right: 10px;
        margin: 0 auto 20px;
        max-width: 33.33%;
        width: 33.33%;
      }
      @media (min-width: 75em) {
        max-width: 25%;
        width: 25%;
      }
      @include desktop {
        .card-inside:hover {
          opacity: 0.7;
          section .top-image .hover-icon {
            visibility: visible;
            opacity: 1;
          }
        }
        &.flipped .card-inside:hover section .top-image .hover-icon {
          visibility: hidden;
          opacity: 0;
        }

      }

      &.sold-out .card-inside section .top-image .top-left-badge {
        transform: rotate(-35deg);
        padding: 24px 28px 4px;
        margin: -9px -30px;
        border-radius: 0;
        background: red;
      }

      .card-inside {
        background: #FFF;
        width: 100%;
        border-radius: 5px;
        border: 1px solid #CCD3D3;
        position: relative;
        overflow: hidden;
        z-index: 8;

        section {
          width: 100%;

          .top-image {
            width: 100%;
            background-color: #FFF;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: top center;
            height: 0;
            position: relative;
            padding-bottom: 246px;
            @include tablet {
              padding-bottom: 295px;
            }

            &.with-logo {
              box-shadow: 0 -60px 40px hsla(0, 0%, 0%, 0.7) inset;
            }

            .top-left-badge {
              position: absolute;
              border-radius: 0 0 5px 0;
              top: 0;
              left: 0;
              font: 700 11px/1em $bebas;
              text-transform: uppercase;
              //border: 1px solid #ddd;
              //border-width: 0 1px 1px 0;
              padding: 4px 7px;
              @include tablet {
                padding: 6px 9px;
              }
            }

            .hover-icon {
              visibility: hidden;
              opacity: 0;
              position: absolute;
              transition: opacity .3s;
              text-align: center;
              font-size: 40px;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);
              text-shadow: 0 0 10px hsla(0, 0%, 0%, 0.5);
              color: #FFF;
              z-index: 10;
            }

            .logo {
              position: absolute;
              bottom: 0;
              left: 0;
              right: 0;
              padding: 15px 20px;

              img {
                width: auto;
                height: auto;
                max-height: 55px;

                &.blowout {
                  -webkit-filter: invert(1);
                  filter: invert(1);
                  width: 50%;
                  margin: 0 auto 5px;
                }
              }
            }
          }

          .bottom-section {
            display: inline-block;
            width: 100%;
            text-align: center;
            border-top: 1px solid #DDD;
            padding: 10px 10px 15px;
            @include tablet {
              padding: 15px 10px;

            }

            p {
              width: 100%;
              font: 400 14px/19px $opensans;
              margin: 0 auto;
              float: left;
              display: inline-block;
              user-select: none;

              em {
                display: inline-block;
                margin: 5px auto 0;
              }

              strong {
                display: inline-block;
                margin: 5px auto 0;
              }

              s {
                color: #9DA6A8;
              }
            }

            h6 {
              font: 700 15px/1.2em $opensans;
              color: #000;
              margin: 0;
              width: 100%;
              padding: 0;
              position: relative;
              float: left;
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: nowrap;
              @include tablet {
                font-size: 16px;
              }
            }
          }
        }
      }

      .flip-card-inner {
        position: relative;
        width: 100%;
        height: 100%;
        text-align: center;
        transform-style: preserve-3d;
        cursor: pointer;
      }

      &.flipped {
        .flip-card-front {
          -ms-transform: rotateY(180deg);
          -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
        }

        .flip-card-back {
          -ms-transform: rotateY(0deg);
          -webkit-transform: rotateY(0deg);
          transform: rotateY(0deg);
        }
      }

      .flip-card-front, .flip-card-back {
        position: absolute;
        width: 100%;
        height: 100%;
        -ms-transition: transform 0.8s;
        -webkit-transition: transform 0.8s;
        transition: transform 0.8s;
        -ms-backface-visibility: hidden;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
      }

      .flip-card-back {
        background: #FFF;
        z-index: 9;
        border-radius: 5px;
        font-size: 14px;
        color: #000;
        position: relative;
        -ms-transform: rotateY(-180deg);
        -webkit-transform: rotateY(-180deg);
        transform: rotateY(-180deg);
        border: 1px solid #CCD3D3;

        .card-center {
          display: block;
          position: absolute;
          width: 100%;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          padding: 15px;
          @include desktop {
            padding: 20px;
          }
        }

        h6 {
          font: 700 16px/1.2em $opensans;
          margin: 0 auto;
          @include tablet {
            font-size: 17px;
          }
        }

        p {
          width: 100%;
          font: 400 13px/1.3em $opensans;
          margin: 0 auto;
          display: inline-block;

          &.description {
            font-size: 12px;
            margin: 10px auto;
          }

          &.price {
            margin: 0 auto 15px;
            font-size: 22px;
            @include tablet {
              font-size: 26px;
            }
            @include desktop {
              font-size: 30px;
            }

            strong {
              color: $guitareoGreen;
            }

            s {
              color: #9DA6A8;
            }
          }

          &.disclaimer {
            font-size: 12px;
            margin: 7px auto 0;
          }
        }

        .pack-pick {
          margin: -5px auto 10px;
          border: 2px solid #717D80;
          border-width: 0 0 2px;
          color: #717D80;
          font: 700 12px $bebas;
          text-transform: uppercase;
          box-shadow: none;
          width: auto;
          padding: 8px 24px 8px 8px;
          height: 35px;
          background: transparent;
          -webkit-appearance: none;

          &.error {
            background-color: #FFC7C7;
            border-color: #F71B26;
          }

          option {
            background: #FFF;
            color: #000;

            &[disabled] {
              color: #CCC;
            }
          }
        }

        .selected-pack {
          .join {
            background: #8C9698;
          }

          &.active .join {
            background: #10D05F;

            &:hover {
              opacity: 0.9;
            }
          }
        }

        .join {
          width: 100%;
          font-size: 15px;
          margin: 0 auto 7px;
          padding: 12px;

          @include desktop {
            font-size: 17px;
            padding: 13px;
          }

          &.outline {
            background: #000;
            color: #FFF;
            margin: 0 auto;

            &:hover {
              background: lighten(#000, 10%);
            }
          }

          &.amazon {
            background: #FE9900;

            &:hover {
              background: #FA3;
            }
          }
        }
      }
    }
  }
}

.recommended .flip-card {
  position: relative;
  padding-bottom: 100%;
  perspective: 1000px;

  .flip-card-inner {
    position: absolute;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    cursor: pointer;
    overflow: hidden;
  }

  &.flipped .flip-card-front {
    -ms-transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
  }

  .flip-card-back {
    -ms-transform: rotateY(-180deg);
    -webkit-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
  }

  &.flipped .flip-card-back {
    -ms-transform: rotateY(0deg);
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
  }

  .flip-card-front,
  .flip-card-back {
    background: #FFF;
    position: absolute;
    width: 100%;
    height: 100%;
    -ms-transition: transform 0.8s;
    -webkit-transition: transform 0.8s;
    transition: transform 0.8s;
    -ms-backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }

  .flip-card-front .hover-icon,
  &.flipped .flip-card-front:hover .hover-icon {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    transition: opacity .3s;
    font-size: 40px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-shadow: 0 0 10px hsla(0, 0%, 0%, 0.5);
    color: #FFF;
  }

  @media (min-width: 1024px) {
    .flip-card-front:hover .hover-icon {
      visibility: visible;
      opacity: 1;
    }
  }
}
