@import "../_variables";

h1, h2, h3, h4, h5, h6, p, li {
  font-family: $opensans;
}

.text-yellow {
  color: #ffdb00;
}

a.text-yellow:hover {
  color: #fff199;
}

.text-blue {
  color: $drumeoBlue;
}

.text-white {
  color: #fff;
}

.half-padding {
  padding-left: 7px;
  padding-right: 7px;
}

.header {
  position: relative;
  color: #fff;
  overflow: hidden;
  padding: 20px 0;
  @include tablet {
    padding: 40px 0;
  }

  video {
    object-fit: cover;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
  }

  .overlay {
    background: rgba(0, 0, 0, 0.5);
    background: linear-gradient(to bottom, rgba(0,0,0,0.5) 0%, rgba(0, 79, 153, 0.6) 100%);
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
  }

  .row {
    position: relative;
    z-index: 3;
  }

  .logo {
    width: auto;
    height: 87px;
    margin: 0 auto;
    @include tablet {
      height: 100px;
    }
    @include desktop {
      height: 125px;
    }
  }

  .watch-badge {
    position: absolute;
    transform: translate(0, -50%) rotate(15deg);
    font: 400 14px/1em $bebas;
    text-shadow: 0 0 20px $musoraBlack;
    top: 240px;
    left: 63%;
    @include tablet {
      font-size: 18px;
      top: 300px;
      left: 59%;
    }
    @include desktop {
      font-size: 23px;
      top: 340px;
      left: 58%;
    }

    img {
      display: block;
      margin-top: 5px;
      width: 24px;
      @include tablet {
        width: 33px;
      }
      @include desktop {
        width: 41px;
      }
    }
  }

  .play-button {
    cursor: pointer;
    outline: none;
    transition: opacity .3s;
    width: 70px;
    margin: 130px auto;
    @include tablet {
      width: 90px;
      margin: 170px auto;
    }
    @include desktop {
      width: 120px;
    }

    &:hover {
      opacity: 0.9;
    }
  }

  .join {
    margin: 0 auto 15px;
    padding: 17px 60px;
    @include tablet {
      margin: 0 auto 20px;
      font-size: 35px;
      padding: 17px 100px;
    }
    @include desktop {
      font-size: 40px;
      padding: 17px 150px;
    }
  }

  p {
    margin: 0 auto;
    width: 100%;
    max-width: 300px;
    line-height: 1.2em;
    font-size: 16px;
    @include tablet {
      font-size: 19px;
      max-width: 100%;
    }
    @include desktop {
      font-size: 24px;
    }

    &.dense {
      font-family: $robotocondensed;
      text-transform: uppercase;
    }

    .smaller {
      font-size: 14px;
      @include tablet {
        font-size: 17px;
      }
      @include desktop {
        font-size: 21px;
      }
    }

  }
}

.reveal-overlay {
  background-color: rgba(0, 0, 0, 0.8);

  &:after {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-family: "Font Awesome 6 Pro";
    font-weight: 900;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    content: "\f00d";
    color: #fff;
    z-index: 1;
    opacity: 0.8;
    position: absolute;
    margin: 0;
    line-height: 1em;
    text-align: center;
    display: inline-block;
    outline: none;
    top: 0;
    right: 0;
    font-size: 35px;
    width: 35px;
    @include tablet {
      top: 7px;
      right: 7px;
      font-size: 50px;
      width: 50px;
    }
  }

  .reveal {
    height: inherit;
    min-height: 0;
    outline: none;
    padding: 0;
    border: none;
    border-radius: 5px;

    .flex-video {
      margin: 0 auto;
    }

    p {
      margin: 5px auto;
    }

    .join {
      margin: 10px auto;
    }
  }
}

.content-section {
  background: $musoraBlack center top/contain no-repeat;
  position: relative;
  color: #fff;
  padding: 30px 10px;
  @include tablet {
    padding: 50px 0;
  }
  @include desktop {
    padding: 100px 0;
  }

  h1 {
    margin: 0 auto 30px;
    line-height: 1.2em;
    font-size: 22px;
    @include tablet {
      font-size: 30px;
      margin: 0 auto 60px;
    }
    @include desktop {
      font-size: 40px;
    }

    strong {
      font-weight: 900;
    }
  }

  h5 {
    font-size: 15px;
    @include tablet {
      font-size: 16px;
    }
    @include desktop {
      font-size: 19px;
    }

    strong {
      font-weight: 900;
    }
  }

  p {
    font-size: 14px;
    @include tablet {
      font-size: 13px;
    }
    @include desktop {
      font-size: 15px;
    }
  }
}

.content-section.moisture {
  overflow:hidden;
  background-size: 700px;
  @include tablet {
    background-size: 1020px;
  }
  @include desktop {
    background-size: 1300px;
  }
  h1 {
    margin: 0 auto;
  }

  h5 {
    text-shadow: 0 0 10px #000, 0 0 10px #000;
    margin: 15px auto 240px;
    @include tablet {
      margin: 20px auto 380px;
    }
    @include desktop {
      margin: 20px auto 550px;
    }
  }
  .columns {
    margin: 0 auto 20px;
    @include tablet {
      margin: 0 auto;
    }
    &:last-child {
      margin-bottom: 0;
    }
  }

  i {
    font-size: 40px;
    @include tablet {
      font-size: 50px;
    }
    @include desktop {
      font-size: 60px;
    }
  }

  h3 {
    font-weight: 700;
    font-family: $robotocondensed;
    margin: 15px auto 0;
    @include tablet {
      margin: 20px auto 0;
    }
  }

  p {
    width: 100%;
    max-width: 290px;
    margin: 0 auto;
  }

}

.content-section.tools {
  overflow:hidden;
  position: relative;
  background-size: 600px;
  @include tablet {
    background-size: 840px;
  }
  @include desktop {
    background-size: 1300px;
  }
  h1 {
    margin: 0 auto 250px;
    @include tablet {
      margin: 0 auto 370px;
    }
    @include desktop {
      margin: 0 auto 550px;
    }
  }

  p {
    width: 100%;
    margin: 0 auto;
    text-align: left;
    max-width: 300px;
    @include tablet {
      max-width: 560px;
    }

    &.text-blue {
      text-align: center;
    }
  }

  .signature {
    width: auto;
    height: 75px;
    margin: 25px auto 15px;
    @include tablet {
      height: 90px;
      margin: 40px auto 25px;
    }
  }

  .avatar {
    border: 2px solid #fff;
    border-radius: 2000px;
    width: 65px;
    @include tablet {
      width: 80px;
    }
  }

  h5 {
    margin: 5px auto 0;

  }
}

.content-section.company {
  overflow: hidden;

  h1 {
    margin: 0 auto 15px;
    @include tablet {
      margin: 0 auto 20px;
    }
  }

  h5 {
    margin: 0 auto;
  }

  .instructors {
    position: relative;
    margin: 30px auto 10px;
    width: 100%;
    max-width: 400px;
    display: inline-block;
    @include tablet {
      max-width: 850px;
      margin: 50px auto 35px;
    }
    @include desktop {
      max-width: 100%;
      margin: 70px auto 55px;
    }

    .instructor {
      background: #000 center 10%/cover no-repeat;
      border-radius: 7px;
      overflow: hidden;
      cursor: pointer;
      position: relative;
      transition: all .3s;
      padding-bottom: 90%;
      margin: 0 auto 15px;
      @include tablet {
        padding-bottom: 100%;
      }

      .text-wrap {
        position: absolute;
        left: 15px;
        right: 15px;
        bottom: 15px;
        text-transform: uppercase;
        color: #fff;
        text-shadow: 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black;
        -webkit-font-smoothing: antialiased;
        z-index: 2;
        user-select: none;

        p {
          transition: all 0.5s;
          font: 400 15px/1.1em $opensans;
          margin: 0 auto;
          @include tablet {
            font-size: 18px;
          }

          strong {
            font-weight: 900;
          }

          &.credits {
            font-size: 13px;
            line-height: 1em;
            margin-top: 5px;
          }
        }
      }


      &.active {
        transform: scale(1.1);
        z-index: 3;
      }
    }

    .columns:nth-child(n+9) {
      visibility: hidden;
      opacity: 0;
      height: 0;
      transition: all .2s ease-in-out;
    }

    @include tablet {
      .columns:nth-child(n+9) {
        visibility: visible;
        opacity: 1;
        height: auto;
      }
      .columns:nth-child(n+13) {
        visibility: hidden;
        opacity: 0;
        height: 0;
        transition: all .2s ease-in-out;
      }
    }
    @include desktop {
      .columns:nth-child(n+13) {
        visibility: visible;
        opacity: 1;
        height: auto;
      }
      .columns:nth-child(n+25) {
        visibility: hidden;
        opacity: 0;
        height: 0;
        transition: all .2s ease-in-out;
      }
    }

    &.show-all {
      .columns:nth-child(n+9) {
        visibility: visible;
        opacity: 1;
        height: auto;
      }

      @include tablet {
        .columns:nth-child(n+13) {
          visibility: visible;
          opacity: 1;
          height: auto;
        }
      }
      @include desktop {
        .columns:nth-child(n+25) {
          visibility: visible;
          opacity: 1;
          height: auto;
        }
      }

      &:after {
        opacity: 0;
        height: 0;
      }
    }
  }
}

.final {
  background-size: cover;
  .bubbles {
    width: 100%;
    max-width: 340px;
    @include tablet {
      max-width: 610px;
    }
    @include desktop {
      max-width: 930px;
    }
  }

  .logo {
    width: 220px;
    margin: 0 auto;
    @include tablet {
      width: 310px;
    }
    @include desktop {
      width: 430px;
    }
  }

  .join {
    margin: 25px auto 15px;
    padding: 17px 60px;
    @include tablet {
      margin: 30px auto 20px;
      font-size: 35px;
      padding: 17px 100px;
    }
    @include desktop {
      margin: 40px auto 30px;
      font-size: 40px;
      padding: 17px 150px;
    }
  }

  p {
    margin: 0 auto;
    width: 100%;
    max-width: 300px;
    line-height: 1.2em;
    font-size: 16px;
    @include tablet {
      font-size: 19px;
      max-width: 100%;
    }
    @include desktop {
      font-size: 24px;
    }

    &.dense {
      font-family: $robotocondensed;
      text-transform: uppercase;
    }

    .smaller {
      font-size: 14px;
      @include tablet {
        font-size: 17px;
      }
      @include desktop {
        font-size: 21px;
      }
    }

  }

  .credit-cards {
    margin: 30px auto 0;
    @include tablet {
      margin: 40px auto 0;
    }
    @include desktop {
      margin: 50px auto 0;
    }
    i {
      opacity: 0.7;
      margin: 0 3px;
      font-size: 45px;
      @include tablet {
        font-size: 50px;
      }
    }

    img {
      width: 100%;
      max-width: 340px;
      @include tablet {
        max-width: 480px;
      }
      @include desktop {
        max-width: 550px;
      }
    }
  }

  .questions {
    margin: 15px 0 0;

    p {
      margin: 0;
      opacity: 0.7;
      max-width: 100%;
      font-size: 13px;

      a {
        color: inherit;
        display: inline-block;
      }
    }
  }
}
