@import "_variables";

h1 strong, h2 strong, h3 strong, h4 strong, h5 strong, h6 strong {
  font-weight: 900;
}

h1, h2, h3, h4, h5, h6, li, p {
  font-weight: 400;
  line-height: 1em;
  font-family: $opensans;
  margin: 0 auto;

  sup {
    font-size: 50%;
    top: -0.75em;
  }
}

h1 {
  line-height: 1.2em;
  font-size: 24px;
  @include tablet {
    font-size: 36px;
  }
  @include desktop {
    font-size: 48px;
  }
}

h2 {
  line-height: 1.2em;
  font-size: 20px;
  @include tablet {
    font-size: 30px;
  }
  @include desktop {
    font-size: 36px;
  }
}

h3 {
  font-size: 18px;
  @include tablet {
    font-size: 24px;
  }
  @include desktop {
    font-size: 30px;
  }
}

h4 {
  font-size: 16px;
  @include tablet {
    font-size: 20px;
  }
  @include desktop {
    font-size: 24px;
  }
}

h5 {
  font-size: 15px;
  @include tablet {
    font-size: 18px;
  }
  @include desktop {
    font-size: 20px;
  }
}

h6 {
  font-size: 15px;
  @include tablet {
    font-size: 16px;
  }
  @include desktop {
    font-size: 18px;
  }
}

p, li {
  line-height: 1.6em;
  font-size: 15px;
  @include desktop {
    font-size: 16px;
  }
}

img {
  display: inline-block;
}

.join {
  &.smaller {
    padding: 7px 12px;
    font-size: 13px;
    @include tablet {
      font-size: 14px;
      padding: 13px 30px;
    }
  }

  &.ndsh {
    font-weight: 900;
    font-family: $opensans;
    background-color: #00bbff;

    &:hover,
    &:focus {
      background: lighten(#00bbff, 10%);
    }
  }
}

.play-button {
  cursor: pointer;
  outline: none;
  transition: opacity .3s;
  background: rgba(0, 0, 0, 0.6);
  border: 3px solid #fff;
  border-radius: 200px;
  line-height: 1em;
  font-size: 29px;
  padding: 18px 22px;
  @include tablet {
    font-size: 35px;
    padding: 22px 27px;
    border-width: 4px;
  }
  @include desktop {
    font-size: 39px;
    padding: 25px 30px;
  }

  &:hover {
    opacity: 0.8;
  }
}

.reveal-overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2147483002;
  display: none;
  overflow-y: auto;
  background-color: rgba(0, 0, 0, 0.8);

  &:after {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-family: "Font Awesome 5 Pro";
    font-weight: 900;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    content: "\f00d";
    color: #fff;
    z-index: 1;
    opacity: 0.8;
    position: absolute;
    margin: 0;
    line-height: 1em;
    text-align: center;
    display: inline-block;
    outline: none;
    top: 0;
    right: 0;
    font-size: 35px;
    width: 35px;
    @include tablet {
      top: 7px;
      right: 7px;
      font-size: 50px;
      width: 50px;
    }
  }

  .reveal {
    z-index: 1006;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    display: none;
    background-color: #fefefe;
    position: relative;
    top: 100px;
    margin-right: auto;
    margin-left: auto;
    overflow-y: auto;
    width: 95%;
    height: inherit;
    min-height: 0;
    outline: none;
    padding: 0;
    border: none;
    border-radius: 7px;
    @include tablet {
      right: auto;
      left: auto;
      margin: 0 auto;
    }
  }
}

.text-blue {
  color: #00bbff;
}

.border-blue {
  border-color: #00bbff;
}

.text-light-navy {
  color: #a1afc9;
}

.text-orange {
  color: #ffa16a;
}

header {
  background-size: 850px;
  @include tablet {
    background-size: 1200px;
  }
  @include desktop {
    background-size: 1500px;
  }

  &:after {
    content: " ";
    position: absolute;
    z-index: 0;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: linear-gradient(0deg, #000a1e, transparent 20%);
  }

  .logo {
    height: 50px;
    @include tablet {
      height: 70px;
    }
    @include desktop {
      height: 100px;
    }
  }

}

.beg-adv-text {
  img {
    transform: translate(-50%, 0);
    left: 15%;
    @include tablet {
      left: 12.5%;
    }
  }

  p {
    transform: translate(-50%, 0);

    &:nth-child(2) {
      left: 34%;
    }

    &:nth-child(3) {
      left: 50%;
    }

    &:nth-child(4) {
      left: 68%;
    }

    &:nth-child(5) {
      left: 84%;
      @include tablet {
        left: 88%;
      }
    }
  }
}

.beg-adv-bar {
  div {
    &:nth-child(1),
    &:nth-child(3) {
      width: 30%;
      @include tablet {
        width: 25%;
      }
    }
  }
}

.jared-bio {
  background-size: cover;
  @include tablet {
    background-size: 1200px;
  }
  @include desktop {
    background-size: 1500px;
  }

  &:after {
    content: " ";
    position: absolute;
    z-index: 0;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: linear-gradient(0deg, #000a1e 20%, transparent 70%, transparent 75%, #000a1e 100%);
    @include tablet {
      background: linear-gradient(0deg, #000a1e, transparent 25%, transparent 75%, #000a1e 95%);
    }
  }

}

.slick-slider.slick-1 {
  display: none;
  @include tablet {
    display: block;
  }

  .slick-dots {
    top: 0;
    left: 0;
    bottom: unset;
    width: auto;

    li button {
      font-size: 18px;
      line-height: 1em;
      width: auto;
      height: auto;
      padding: 0 10px;
      cursor: pointer;
      color: #393a45;
      font-weight: 900;

      &:before {
        content: '';
        width: 0;
        height: 0;
      }
    }

    li.slick-active button {
      color: #00bbff;
    }
  }

}

.slick-1,
.slick-2 {
  .slick-arrow {
    position: absolute;
    bottom: -50px;
    top: unset;
    background: #0abeff;
    transition: opacity .3s;
    opacity: 0.5;
    padding: 1px 20px;
    border-radius: 100px;
    height: auto;
    width: auto;
    transform: translate(0, -50%);
    margin: 0 -70px;

    &:hover,
    &:focus {
      opacity: 1;
      color: #000a1e;
      background: #0abeff;
    }

    &.slick-next:before,
    &.slick-prev:before {
      -moz-osx-font-smoothing: grayscale;
      -webkit-font-smoothing: antialiased;
      display: inline-block;
      font-style: normal;
      font-variant: normal;
      text-rendering: auto;
      opacity: 1;
      line-height: 1;
      font-family: "Font Awesome 5 Pro";
      font-weight: 300;
      color: #000a1e;
    }

    &.slick-next {
      right: 50%;

      &:before {
        content: "\f178";
      }
    }

    &.slick-prev {
      left: 50%;

      &:before {
        content: "\f177";
      }
    }
  }
}

.compare-table {
  width: 100%;
  max-width: 1150px;
  margin: 0 auto;
  border-collapse: separate;
  border-spacing: 1px 0;
  @include tablet {
    border-spacing: 3px 0;
  }
  @include desktop {
    border-spacing: 7px 0;
  }

  tr {
    &:hover td {
      background-color: lighten(#020710, 3%);

      &:nth-child(1) {
        background-color: lighten(#000a1e, 3%);
      }

      &:nth-child(2) {
        background-color: lighten(#00bbff, 3%);
      }
    }

    td {
      padding: 5px;
      font-weight: 900;
      line-height: 1em;
      color: #4f6591;
      text-transform: uppercase;
      background-color: #020710;
      font-size: 12px;
      width: 25%;
      @include tablet {
        padding: 7px;
        font-size: 15px;
      }
      @include desktop {
        padding: 10px 15px;
        font-size: 16px;
        width: 16.66%;
      }

      i {
        font-size: 19px;
        @include tablet {
          font-size: 23px;
        }
        @include desktop {
          font-size: 24px;
        }
      }

      &:nth-child(1) {
        background-color: transparent;
        text-align: right;
        color: #fff;
      }

      &:nth-child(2) {
        color: #fff;
        background-color: #00bbff;
        text-shadow: 3px 3px 0 darken(#00bbff, 5%);
        @include tablet {
          font-size: 18px;
        }
        @include desktop {
          font-size: 22px;
        }

        i {
          font-size: 22px;
          @include tablet {
            font-size: 32px;
          }
          @include desktop {
            font-size: 34px;
          }
        }
      }

      &:nth-child(3) {
        color: $drumeoBlue;
      }
    }

    &:nth-child(1) td {
      color: #fff;
      background: #010101;
      border-radius: 10px 10px 0 0;
      padding-top: 25px;
      padding-bottom: 25px;
      @include tablet {
        padding-top: 30px;
        padding-bottom: 30px;
      }

      img {
        width: auto;
        max-height: 30px;
        max-width: 75px;
        @include tablet {
          max-height: 45px;
          max-width: 110px;
        }
        @include desktop {
          max-height: 50px;
          max-width: 130px;
        }
      }

      &:nth-child(1) {
        background: transparent;
      }

      &:nth-child(2) {
        background: darken(#00bbff, 20%);
        img {
          width: auto;
          max-width: 100%;
          max-height: 18px;
          @include tablet {
            max-height: 31px;
          }
          @include desktop {
            max-height: 38px;
          }
        }
      }
    }

    &:last-child td {
      border-radius: 0 0 10px 10px;
      padding-top: 20px;
      padding-bottom: 20px;
      @include tablet {
        padding-top: 30px;
        padding-bottom: 30px;
        font-size: 16px;
      }
      @include desktop {
        font-size: 20px;
      }

      &:nth-child(2) {
        font-size: 15px;
        @include tablet {
          font-size: 27px;
        }
        @include desktop {
          font-size: 36px;
        }
      }
    }
  }

  tr td {
    &:nth-child(4) {
      display: table-cell;
    }

    &:nth-child(5),
    &:nth-child(6),
    &:nth-child(7) {
      display: none;
    }
  }

  &.udemy {
    tr td {
      &:nth-child(5) {
        display: table-cell;
      }

      &:nth-child(4),
      &:nth-child(6),
      &:nth-child(7) {
        display: none;
      }
    }
  }

  &.masterclass {
    tr td {
      &:nth-child(6) {
        display: table-cell;
      }

      &:nth-child(5),
      &:nth-child(4),
      &:nth-child(7) {
        display: none;
      }
    }
  }

  &.ambition {
    tr td {
      &:nth-child(7) {
        display: table-cell;
      }

      &:nth-child(5),
      &:nth-child(6),
      &:nth-child(4) {
        display: none;
      }
    }
  }
}

.guarantee-badge {
  width: 120px;
  @include tablet {
    width: 200px;
  }
  @include desktop {
    width: 280px;
  }
}


.final {
  .logo {
    height: 55px;
    @include tablet {
      height: 85px;
    }
    @include desktop {
      height: 120px;
    }

  }

  .outline-cards {
    padding: 0 7px;
    display: inline-block;
    width: 100%;
    max-width: 320px;
    @include tablet {
      padding: 0;
      max-width: 650px;
    }
    @include desktop {
      max-width: 710px;
    }

    .float-left {
      float: left;
      width: 100%;
      @include tablet {
        width: 50%;
      }
    }

    .top-badge {
      transform: translate(-50%, 0);
      background: #0b76db;
      border-radius: 15px 15px 0 0;
      width: 75%;
      top: -22px;
      @include tablet {

        top: -23px;
      }
    }

    .card-wrap {
      overflow: hidden;
      text-decoration: none;
      border-radius: 15px;
      display: block;
      border: 2px solid;
      padding: 30px 15px;
      @include tablet {
        padding: 40px 25px;
      }

      .join {
        width: 100%;
        max-width: 250px;
        margin: 0 auto;
        font-size: 17px;
        padding: 11px;
      }

    }

  }
}

.tooltip {
  position: relative;

  &:after,
  &:before {
    position: absolute;
    transform: translate(-50%, 0);
    height: auto;
    max-height: 0;
    visibility: hidden;
    opacity: 0;
    transition: all .3s;
    overflow: hidden;
  }

  &:before {
    z-index: 100;
    content: "";
    top: 23px;
    left: 50%;
    border-right: 7px transparent solid;
    border-left: 7px transparent solid;
    border-bottom: 7px solid #ff570d;
  }

  &:after {
    padding: 8px;
    content: attr(tip);
    font: 900 16px/1.2em $opensans;
    color: #fff;
    width: 190px;
    border-radius: 8px;
    background: #ff570d;
    box-shadow: 0 0 15px #000;
    top: 30px;
    left: 50%;
  }


  &:hover,
  &:focus {
    z-index: 100;

    &:after,
    &:before {
      max-height: 1000px;
      visibility: visible;
      opacity: 1;
      display: block;
    }
  }
}

